<template>
<app-page
    fixed-width
    title="AIFap is shutting down">
    <app-layout>
        <app-layout-section>
            <app-banner
                warning
                title="Data exports">
                <p>
                    You may now export your data using the link in the sidebar.
                </p>
                <p>
                    Exports are generated on-demand and take some time, so please
                    be patient. Your request will be queued up and processed
                    as soon as possible.
                </p>
                <p>
                    Data exports will be available for <em>at least</em> another 30 days
                    (final deadline TBC).
                </p>
            </app-banner>
        </app-layout-section>
        <app-layout-section>
            <app-card
                title="Notice: AIFap will shut down in the near future">
                <app-card-section>
                    <p>
                        Unfortunately we are unable to continue the project
                        and as such AIFap will be shutting down in the near future.
                    </p>
                    <p>
                        The main reason for this is financial - the site now
                        costs more to run, and we are unable to continuing investing
                        even at the level we were previously. We wouldn't have been
                        able to run the site for as long as we did without the support
                        of our Patrons, so thank you to everyone who contributed.
                    </p>
                    <p>
                        There are a few other reasons why I think we are no longer 
                        suitable to continue the project. I (the primary developer)
                        have adopted other commitments which require more and more
                        of my time to fulfil. Others who were initially involved in
                        this project have moved on some time ago. These reasons have
                        contributed to very little forward progress being made in the 
                        recent months.
                    </p>
                    <p>
                        The primary goals of creating AIFap were threefold:
                        <ul>
                            <li>To satisfy my own desire and curiosity</li>
                            <li>To explore whether recreating what BF had built 
                            was practical, or even possible.</li>
                            <li>To share the results of this process with the community
                            in the hope that other projects in a similar vein
                            continue to be created.</li>
                        </ul>
                        I believe the project has succeeded in completing the first
                        two goals, which leaves us with the final task of ensuring
                        the data and learnings that have been gathered are not lost
                        after the project concludes.
                    </p>
                </app-card-section>
                <app-card-section
                    title="Upcoming Actions">
                    <p>
                        In the near future, we will shutdown AIFap.
                        Before reaching that point, we intend to fulfill
                        our commitment to making the data and code behind this
                        site public.
                    </p>
                    <ul>
                        <li>We will allow users to export their own data, including
                        everything they've rated and viewed. We'll provide the data
                        in a format that's easy to reuse in the future.</li>
                        <li>We will release anonymized datasets containing all
                        as much of the useful data we have collected that we can feasibly
                        process and make available (including ratings, post metadata, user profiles, etc.)</li>
                        <li>We will release all source code behind the AIFap website,
                        indexer, recommendation system and other tools.</li>
                    </ul>
                    <p>
                        By fulfilling these commitments we hope that we will both
                        foster new AIFap-like projects as well as assist in machine-learning
                        research in the adult space generally.
                    </p>
                </app-card-section>
                <app-card-section
                    title="Timeline">
                    <p>
                        There is not yet a timeline on the above actions. We would like
                        to ensure that everything is released properly and that we do
                        the best job possible in ensuring that everyone's privacy
                        is protected, so it will take us some time to ensure that
                        the exports and datasets are properly prepared.
                    </p>
                    <p>
                        We expect the overall shutdown to take a couple of months.
                    </p>
                    <p>
                        In the meantime, the site will continue to be run in a limited
                        capacity. New signups have been disabled.
                    </p>
                </app-card-section>
                <app-card-section
                    title="What's next?">
                    <p>
                        I've seen an awful lot of porn this year. You get desensitized to 
                        a degree that's very surprising. It becomes hard to be enthusiastic
                        about it after a while, especially given how the industry
                        is treated and percieved. It's not an understatement 
                        to say that once our commitments are fulfilled I will probably
                        take a decent break.
                    </p>
                    <p>
                        However AIFap is probably not my last ML project in the adult
                        space. I learnt a lot building AIFap, and it's given
                        me some ideas for new projects (and taught us a lot of things
                        we'd do better next time).
                    </p>
                    <p> 
                        I'd like to try applying AIFap-like functionality and concepts to a more 
                        traditional Booru-like site/app at some point.
                        It would also be interesting to explore how far ML can go for 
                        providing personalized recommendations without relying on 
                        any collaborative factors.
                    </p>
                    <p>
                        We might also bring back AIFap in some capacity in the future, but no promises.
                    </p>
                </app-card-section>
                <app-card-section
                    title="Thank you">
                    <p>
                        Building this site has been a very interesting experience,
                        far more than I expected when we went into it 8 months ago.
                    </p>
                    <p>
                        The entire community has been very understanding and supportive,
                        and we hope you will all continue to support projects like these
                        going forward.
                    </p>
                    <p>
                        Thank you for using AIFap. I hope we 
                        were able to find lots of things you enjoyed.
                    </p>
                    <p>
                        &ndash;
                        AIFap Developer
                    </p>
                </app-card-section>
            </app-card>
        </app-layout-section>
    <!--
        <app-layout-section>
            <app-card>
                <app-card-section
                    title="Getting started">
                    To get started, sign up for an account and then browse around
                    for some porn you enjoy.
                    Leave ratings on posts to help us train our recommendations.
                </app-card-section>
                <app-card-section
                    title="Get involved">
                    <p>
                        <app-plain-link href="https://discord.gg/3x66D9d">
                            Join us on discord
                        </app-plain-link> 
                        to get development updates and leave your suggestions.
                    </p>
                </app-card-section>
                <app-card-section
                    title="AIFap is in active development">
                    <p>
                        We're expanding AIFap every day, so please be aware that there may be bugs.
                    </p>
                    <p>
                        Check out our
                        <app-plain-link href="https://gitlab.com/aifap/aifap-issues">
                             project on GitLab
                        </app-plain-link>
                        to see what we're working on and make bug reports or feature requests.
                    </p>
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <app-card
                sectioned
                title="Update notes">
                <update-notes/>
            </app-card>
        </app-layout-section>
        -->
    </app-layout>
</app-page>
</template>

<script>
import UpdateNotes from '@/components/UpdateNotes';

import imgHowItWorks from '@/images/aif_how_it_works.png';

export default {
    components: {
        UpdateNotes,
    },
    data() {
        return {
            imgHowItWorks,
        };
    },
}
</script>