<template>
<div 
    :class="{
        'AIF-AlertBanner': 1,
        'AIF-AlertBanner--dimmed': dimmed,
    }">
    <app-page-container>
        <slot></slot>
    </app-page-container>
</div>
</template>

<script>
import Evee from 'evee';

var alertViewed = false;
var viewedTriggered = new Evee;

export default {
    data() {
        return {
            shouldDim: false,
        };
    },
    computed: {
        dimmed() {
            return this.shouldDim || alertViewed;
        },
    },
    mounted() {
        viewedTriggered.on('triggered', () => {
            this.shouldDim = true;
        });
        
        if (!alertViewed) {
            setTimeout(() => {
                alertViewed = true;
                this.shouldDim = true;
                viewedTriggered.emit('triggered');
            }, 10000);
        }
    },
};
</script>

<style lang="scss">
.AIF-AlertBanner {
    background: #ff8100;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    
    transition: all 1s;
    
    &--dimmed {
        font-size: 1rem;
        background: #211100;
        color: #5d3000;
    }
}
</style>