<template>
<div :class="{
        'AIF-AlertMessage': 1,
        'AIF-AlertMessage--open': open,
    }">
    <div class="AIF-AlertMessage__Container">
        <app-page-container>
            <div class="AIF-AlertMessage__Message">
                {{ message }}
            </div>
        </app-page-container>
    </div>
</div>
</template>


<script>
export default {
    props: {
        open: Boolean,
        message: String,
    },
};
</script>


<style lang="scss">
@keyframes AIF-AlertMessage-bgAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

.AIF-AlertMessage {
    
    position: fixed;
    left: 0;
    right: 0;
    
    z-index: 50;
    
    transition: transform 0.3s, opacity 0.1s;
    transform: translateY(-100%);
    opacity: 0;
    
    &__Container {
        background: rgba(17, 17, 17, 0.5);
        padding: 0.5rem 1rem;
    
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: -5px;
            left: -5px;
            border-radius: 0.5rem;
            background: linear-gradient(to right, var(--brand-color-dark), var(--brand-alt-color-dark), var(--brand-color-dark));
            background-size: 200%;
            
            animation: AIF-AlertMessage-bgAnimation 4s linear infinite
        }
    }
    
    &--open {
        transform: translateY(0%);
        opacity: 1;
    }
    
    &__Message {
        font-size: 1.6rem;
    }
}
</style>