<template>
<div class="AIF-GlobalSearch">
    <input
        v-shortkey.avoid
        :value="query"
        @input="onSearch"
        class="AIF-GlobalSearch__Input"
        placeholder="Search..."/>
    <div 
        v-if="results && query"
        class="AIF-GlobalSearch__Popover">
        <div class="AIF-GlobalSearch__Results">
            <div 
                v-if="results.tags && results.tags.length > 0"
                class="AIF-GlobalSearch__Section">
                <div class="AIF-GlobalSearch__SectionTitle">
                    Tags
                </div>
                <div class="AIF-GlobalSearch__SectionItems">
                    <div
                        v-for="tag in results.tags"
                        @click="navigateToTag(tag)"
                        class="AIF-GlobalSearch__Result">
                        <span v-if="tag.tag_namespace">
                            {{ tag.tag_namespace.shortkey }}:{{ tag.key }}
                        </span>
                        <span v-else>
                            {{ tag.key }}
                        </span>
                    </div>
                </div>
            </div>
            <div 
                v-if="results.posts && results.posts.length > 0"
                class="AIF-GlobalSearch__Section">
                <div class="AIF-GlobalSearch__SectionTitle">
                    Posts
                </div>
                <div class="AIF-GlobalSearch__SectionItems">
                    <div
                        v-for="post in results.posts"
                        @click="navigateToPosts()"
                        class="AIF-GlobalSearch__Result">
                        {{ post.title }}
                    </div>
                    <div
                        @click="navigateToPosts()"
                        class="AIF-GlobalSearch__Result">
                        View all posts
                    </div>
                </div>
            </div>
            <div 
                v-if="results.subreddits && results.subreddits.length > 0"
                class="AIF-GlobalSearch__Section">
                <div class="AIF-GlobalSearch__SectionTitle">
                    Subreddits
                </div>
                <div class="AIF-GlobalSearch__SectionItems">
                    <div
                        v-for="subreddit in results.subreddits"
                        :key="subreddit.id"
                        @click="navigateToSubreddit(subreddit)"
                        class="AIF-GlobalSearch__Result">
                        /r/{{ subreddit.slug }}
                    </div>
                </div>
            </div>
            <div 
                v-if="noResults"
                class="AIF-GlobalSearch__Section">
                <div class="AIF-GlobalSearch__SectionTitle">
                    No results :(
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
import _ from 'lodash';
import api from '@/http/api';
import analytics from '@/services/analytics';

export default {
    data() {
        return {
            query: '',
            results: null,
        };
    },
    computed: {
        noResults() {
            return Object.values(this.results)
                         .map(arr => arr.length)
                         .reduce((a, b) => a + b) == 0;
        },
    },
    methods: {
        onSearch: _.debounce(async function(e) {
            this.query = e.target.value;
            this.results = [];
            
            var res = await api.get('/posts/search', {
                params: {
                    query: this.query,
                },
            });
            
            analytics.recordSearch(this.query);
            
            this.results = res.data.results;
        }, 400),
        navigateToTag(tag) {
            this.query = '';
            this.results = [];
            
            this.$router.push({
                name: 'FeedTag',
                params: {
                    id: tag.id,
                    key: tag.key,
                },
            });
        },
        navigateToPosts() {
            var query = this.query;
            this.query = '';
            this.results = [];
            
            analytics.recordSearchNavigate(query);
            
            this.$router.push({
                name: 'FeedSearch', 
                query: {
                    q: query
                },
            });
        },
        navigateToSubreddit(subreddit) {
            this.query = '';
            this.results = [];
            
            analytics.recordSearchResult('subreddit:' + subreddit.slug);
            
            this.$router.push({
                name: 'FeedSubreddit', 
                params: {
                    id: subreddit.id, 
                    slug: subreddit.slug,
                },
            });
        },
    },
}
</script>

<style lang="scss">
.AIF-GlobalSearch {
    background: #444;
    position: relative;
    
    &__Input {
        height: 2rem;
        width: 100%;
        padding: 2rem;
        background: none;
        border: none;
        
        &::placeholder {
            color: white;
        }
    }    
    
    &__Popover {
        background: #222;
        border: 1px solid #111;
        position: absolute;
        width: 100%;
        top: 100%;
        
        z-index: 99;
    }
    
    &__Section {
        padding: 1rem;
        
        + .AIF-GlobalSearch__Section {
            border-top: 1px solid #111;
        }
    }
    
    &__SectionTitle {
    }
    
    &__Results {
    }
    
    &__SectionItems {
        padding: 0.5rem;
    }
    
    &__Result {
        margin-top: 0.2rem;
        display: block;
        color: #ccc;
        cursor: pointer;
        
        text-decoration: none;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &:hover {
            color: #999;
        }
        &--noninteractive {
            color: #888;
            &:hover {
                color: #888;
            }
        }
    }
}
</style>