<template>
<div
    class="AIF-ListExplorerItem">
    <app-card>
        <app-card-section>
            <div class="AIF-ListExplorerItem__Body">
                <div class="AIF-ListExplorerItem__Content">
                    <div style="display:flex;justify-content:space-between">
                        <div>
                            <app-text strong>
                                <i class="fal fa-fw fa-book"></i>
                                {{ list.title }}
                            </app-text>
                        </div>
                        <app-button
                            @click="editList"
                            plain>
                            <i class="fal fa-fw fa-edit"></i>
                            Edit
                        </app-button>
                    </div>
                    <div>
                        <app-text
                            subdued
                            v-if="list.is_public">
                            <i class="fal fa-fw fa-eye"></i>
                            Public
                        </app-text>
                        <app-text
                            subdued
                            v-else>
                            <i class="fal fa-fw fa-eye-slash"></i>
                            Private
                        </app-text>
                    </div>
                    <br>
                    <div v-if="list.description">
                        {{ list.description }}
                    </div>
                    <div v-else>
                        <app-text
                            subdued>
                            (No description.)
                        </app-text>
                    </div>
                    <br>
                    <div>
                        <app-button
                            @click="exploreList">
                            Explore
                        </app-button>
                    </div>
                </div>
                <div class="AIF-ListExplorerItem__Preview">
                    <post-list
                        :posts="list.posts_sample"
                        :loading="false"
                        :can-load-more="false"
                        :make-play-route="makePlayRoute"
                        @play="onPlay"
                        preview/>
                    <template v-if="list.topTags.length > 0">
                        <br>
                        <div>
                            Top tags:
                            <tag-badge
                                v-for="tag in list.topTags"
                                :key="tag.id"
                                :tag="tag"/>
                        </div>
                    </template>
                </div>
            </div>
        </app-card-section>
    </app-card>
</div>
</template>

<script>
import PostList from './PostList';
import TagBadge from './TagBadge';

export default {
    components: {
        PostList,
        TagBadge,
    },
    props: {
        list: Object,
    },
    methods: {
        exploreList() {
            this.$router.push({name: 'FeedSavedList', params: {id: this.list.id}});
        },
        onPlay() {
            this.$router.push({name: 'FeedSavedList', params: {id: this.list.id}});
        },
        editList() {
            this.$emit('edit-list');
        },
        makePlayRoute(post) {
            return {name: 'FeedSavedList', params: {id: this.list.id}};
        },
    },
};
</script>

<style lang="scss">
.AIF-ListExplorerItem {
    + .AIF-ListExplorerItem {
        margin-top: 1rem;
    }

    &__Header {
    }
    
    &__Body {
        display: flex;
    }
    
    &__Content {
        padding-right: 1rem;
        flex-basis: 30%;
    }
    
    &__Preview {
        flex-basis: 70%;
    }
}
</style>