<template>
<div class="AIF-ListExplorer">
    <list-explorer-item
        v-for="list in lists"
        :key="list.id"
        :list="list"
        @edit-list="editList(list)"/>
</div>
</template>

<script>
import ListExplorerItem from './ListExplorerItem';

export default {
    components: {
        ListExplorerItem,
    },
    props: {
    	lists: Array,
    },
    data() {
        return {
            editingList: null,
        };
    },
    methods: {
        editList(list) {
            this.$emit('edit-list', list);
        },
    },
};
</script>

<style lang="scss">
.AIF-ListExplorer {
}
</style>