<template>
<div class="AIF-LoadingRecommendations">
    <img 
        class="AIF-LoadingRecommendations__Icon"
        :src="brandEmpty">
    <span class="AIF-LoadingRecommendations__Indicator">
        <i class="fa fa-fw fa-spin fa-cog"></i>
    </span>
    <div class="AIF-LoadingRecommendations__Message">
        Finding something you'll enjoy...
    </div>
</div>
</template>

<script>
import brandEmpty from '@/images/brand_empty.png';

export default {
    data() {
        return {
            brandEmpty,
        };
    },
};
</script>

<style lang="scss">
.AIF-LoadingRecommendations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8rem 0;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,0.8);
    
    
    &__Icon {
        width: 200px;
    }
    
    &__Indicator {
        color: #ff00ff;
        font-size: 7rem;
        margin-top: -10rem;
        margin-bottom: 4rem;    
    }
    
    &__Message {
        color: #999;
    }
}
</style>