<template>
<app-popup
    backdrop
    title="Controls"
    :open="open"
    @close="onClose">
    <app-card-section>
        <table class="AIF-PopupControls__Table">
            <thead>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <i class="fal fa-fw fa-hand-paper fa-flip-horizontal"></i>
                    </td>
                    <td>
                        <i class="fal fa-fw fa-hand-paper"></i>
                    </td>
                    <td>
                        <i class="fal fa-fw fa-hand-point-up"></i>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="control in controls">
                    <template v-if="control.type != 'category'">
                        <td class="AIF-PopupControls__Name">
                            {{ control.name }}
                        </td>
                        <td v-html="control.icon">
                        </td>
                        <td>
                            <kbd 
                                class="AIF-PopupControls__Key"
                                v-html="control.left"></kbd>
                        </td>
                        <td>
                            <kbd 
                                class="AIF-PopupControls__Key"
                                v-html="control.right"></kbd>
                        </td>
                        <td>
                            {{ control.touch }}
                        </td>
                    </template>
                    <template v-else>
                        <th colspan="5">
                            {{ control.name }}
                        </th>
                    </template>
                </tr>
            </tbody>
        </table>
    </app-card-section>
</app-popup>
</template>

<script>
export default {
    components: {
    },
    props: {
        open: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            controls: [
                {
                    type: 'category',
                    name: 'Navigation',
                },
                {
                    name: 'Previous post',
                    icon: '<i class="fal fa-arrow-left"></i>',
                    left: 'A',
                    right: '<i class="fal fa-arrow-left"></i>',
                    touch: 'Swipe right',
                },
                {
                    name: 'Next post',
                    icon: '<i class="fal fa-arrow-right"></i>',
                    left: 'D',
                    right: '<i class="fal fa-arrow-right"></i>',
                    touch: 'Swipe left',
                },
                {
                    type: 'category',
                    name: 'Ratings',
                },
                {
                    name: 'Love post',
                    icon: '<i class="fal fa-heart"></i>',
                    left: '2',
                    right: 'PgUp',
                },
                {
                    name: 'Like post',
                    icon: '<i class="fal fa-thumbs-up"></i>',
                    left: 'W',
                    right: '<i class="fal fa-arrow-up"></i>',
                },
                {
                    name: 'Dislike post',
                    icon: '<i class="fal fa-thumbs-down"></i>',
                    left: 'S',
                    right: '<i class="fal fa-arrow-down"></i>',
                },
                {
                    name: 'Hate post',
                    icon: '<i class="fal fa-skull"></i>',
                    left: 'X',
                    right: 'PgDown',
                },
                {
                    type: 'category',
                    name: 'Actions',
                },
                {
                    name: 'Fullscreen',
                    icon: '<i class="fal fa-expand"></i>',
                    left: 'F',
                    right: 'Num+',
                },
                {
                    name: 'Watch later',
                    icon: '<i class="fal fa-bookmark"></i>',
                    left: 'O',
                    right: 'End',
                },
                {
                    type: 'category',
                    name: 'Moderation',
                },
                {
                    name: 'Amend post',
                    icon: '<i class="fal fa-edit"></i>',
                    left: 'Y',
                    right: 'Home',
                },
                {
                    name: 'Tag post',
                    icon: '<i class="fal fa-tags"></i>',
                    left: 'T',
                    right: 'Ins',
                },
                {
                    name: 'Flag post',
                    icon: '<i class="fal fa-flag"></i>',
                    left: 'P',
                    right: 'Del',
                },
            ],
        };
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
    },
};
</script>


<style lang="scss">
.AIF-PopupControls {
    &__Table {
        width: 100%;
        
        td {
            padding: 0 0.5rem;
            text-align: center;
            
            &.AIF-PopupControls__Name {
                text-align: right;
            }
        }
    }
    
    &__Key {
        
        padding: 0.1rem 0.6rem;
        border: 1px solid rgba(255,255,255,0.3);
        font-size: 11px;
        font-family: Arial,Helvetica,sans-serif;
        background-color: rgba(0,0,0,0.6);
        color: #eee;
        border-radius: 3px;
        display: inline-block;
        margin: 0 0.1em;
        line-height: 1.4;
        white-space: nowrap;
    }
}
</style>