<template>
<app-popup
    backdrop
    title="Edit list"
    :open="open"
    @close="onClose">
    <app-card-section>
        <app-form-layout>
            <app-text-field
                v-model="title"
                label="Title"
                placeholder="What this list is about (i.e. &quot;Amazing Asses&quot;)"/>
            <app-text-field
                v-model="description"
                label="Description (optional)"
                placeholder="Describe in more detail the theme of this list."/>
        </app-form-layout>
    </app-card-section>
    <app-card-section
        title="Visibility">
        <app-form-layout>
            <app-checkbox
                v-model="isPublic"
                label="Public"/>
            <div>
            <app-text subdued style="margin-top:1rem">
                Making a list public allows you to share it with other users.
            </app-text>
            </div>
        </app-form-layout>
    </app-card-section>
    <app-card-section>
        <div style="display:flex;justify-content:space-between">
            <app-button
                primary
                @click="updateList">
                Update list
            </app-button>
            <app-button
                @click="deleteList">
                Delete list
            </app-button>
        </div>
    </app-card-section>
</app-popup>
</template>

<script>
export default {
    props: {
        open: {
            type: Boolean,
            default: false,
        },
        
        currentTitle: String,
        currentDescription: String,
        currentIsPublic: Boolean,
    },
    data() {
        return {
            title: '',
            description: null,
            isPublic: true,
        };
    },
    watch: {
        open() {
            if (this.open) {
                this.title = this.currentTitle;
                this.description = this.currentDescription;
                this.isPublic = this.currentIsPublic;
            }
        },
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
        updateList() {
            this.$emit('update-list', {
                title: this.title,
                description: this.description,
                is_public: this.isPublic,
            });
        },
        deleteList() {
            this.$emit('delete-list');
        },
    },
};
</script>
