<template>
<app-popup
    backdrop
    title="Create list"
    :open="open"
    @close="onClose">
    <app-card-section>
        <app-form-layout>
            <app-text-field
                v-model="title"
                label="Title"
                placeholder="What this list is about (i.e. &quot;Amazing Asses&quot;)"/>
            <app-text-field
                v-model="description"
                label="Description (optional)"
                placeholder="Describe in more detail the theme of this list."/>
        </app-form-layout>
    </app-card-section>
    <app-card-section
        title="Visibility">
        <app-form-layout>
            <app-checkbox
                v-model="isPublic"
                label="Public"/>
            <div>
            <app-text subdued style="margin-top:1rem">
                Making a list public allows you to share it with other users.
            </app-text>
            </div>
        </app-form-layout>
    </app-card-section>
    <app-card-section>
        <app-button
            primary
            @click="createList">
            Create list
        </app-button>
    </app-card-section>
</app-popup>
</template>

<script>
export default {
    props: {
        open: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            title: '',
            description: null,
            isPublic: true,
        };
    },
    computed: {
        canFlag() {
            return this.type && (this.type != 'other' || this.message) && this.type != 'copyright';
        },
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
        createList() {
            this.$emit('create-list', {
                title: this.title,
                description: this.description,
                is_public: this.isPublic,
            });
        },
    },
};
</script>
