<template>
<div class="AIF-PostViewerEmbed">
    <iframe 
        class="AIF-PostViewerEmbed__Frame"
        allow="autoplay"
        :src="src"></iframe>
</div>
</template>

<script>
export default {
    props: {
        src: String,
    },
};
</script>

<style lang="scss">
.AIF-PostViewerEmbed {
    width: 100%;
    height: 100%;
    
    &__Frame {
        border: none;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
</style>