<template>
<div class="AIF-PostViewerUnsupported">
    <div class="AIF-PostViewerUnsupported__Content">
        <div class="AIF-PostViewerUnsupported__Message">
            <p>
                Sorry, we can't display this media type properly yet.
            </p>
            <p>
                (Usually this means it's a video link or imgur album.)
            </p>
            <app-button
                outline
                @click="openSourceUrl">
                Open "{{ post.media_url }}" in a new tab
            </app-button>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        post: Object,
    },
    methods: {
        openSourceUrl() {
            window.open(this.post.media_url);
        },
    },
};
</script>


<style lang="scss">
.AIF-PostViewerUnsupported {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #110011, #001111);
    
    &__Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    
    &__Message {
        text-align: center;
        font-size: inherit;
        color: #999;
    }
    
    .fa-stack {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__IconHeart {
        color: #ff00ff;
    }
    &__IconRotator {
        color: #00ffff;
        display: inline-block;
        height: 2em;
        overflow: visible;
        
        animation: fa-spin 0.5s infinite linear;
    }
}
</style>