<template>
<div class="AIF-PostListItemFooter">
    <div class="AIF-PostListItemFooter__Row">
        <div></div>
        <post-list-item-score
            :score-icon="scoreIcon"
            :post="post"/>
    </div>
    <div class="AIF-PostListItemFooter__Row">
        <div class="AIF-PostListItemFooter__Title">
            <div class="AIF-PostListItemFooter__TitleTooltip">
                <div class="AIF-PostListItemFooter__TitleTooltipContent">
                    {{ post.title }}
                </div>
            </div>
            <div v-if="displayTitle" class="AIF-PostListItemFooter__TitleContent">
                {{ post.title }}
            </div>
            <div v-else class="AIF-PostListItemFooter__TitleContent">
                <i class="fal fa-fw fa-info"></i>
            </div>
        </div>
        <div class="AIF-PostListItemFooter__Types">
            <div class="AIF-PostListItemFooter__Type">
                <gender-type-icon 
                    inherit-color
                    class="AIF-ColorBlind__Hide"
                    :type="post.type_gender"/>
                <span class="AIF-ColorBlind__Show" style="font-size: 1.4rem;font-weight: bold;">
                    {{ ({
                        'solo-women': 'F',
                        'solo-men': 'M',
                        'straight': 'FM',
                        'gay': 'MM',
                        'lesbian': 'FF',
                        'transexual': 'T',
                        'unknown': '?',
                    }[post.type_gender]) }}
                </span>
            </div>
            <div class="AIF-PostListItemFooter__Type">
                <media-type-icon 
                    style="color:#aaaa00"
                    inherit-color
                    :type="post.type_media"/>
            </div>
            <div class="AIF-PostListItemFooter__Type">
                <artstyle-type-icon 
                    inherit-color
                    style="color:#00aaaa"
                    :type="post.type_artstyle"/>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import GenderTypeIcon from './icons/GenderTypeIcon';
import MediaTypeIcon from './icons/MediaTypeIcon';
import ArtstyleTypeIcon from './icons/ArtstyleTypeIcon';
import TagBadge from './TagBadge';
import PostListItemScore from './PostListItemScore';

export default {
    components: {
        GenderTypeIcon,
        MediaTypeIcon,
        ArtstyleTypeIcon,
        PostListItemScore,
        TagBadge,
    },
    props: {
        post: Object,
        scoreIcon: String,
        displayTitle: {
            type: Boolean,
            default: true,
        },
    },
};
</script>

<style lang="scss">
.AIF-PostListItemFooter {
    padding: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    
    background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
    
    &__Row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        
        + .AIF-PostListItemFooter__Row {
            padding-top: 0;
        }
    }
    
    &__Title {
        flex-grow: 1;
        white-space: nowrap;
        padding-right: 2rem;
        
        position: relative;
        
        /*
        &:hover .AIF-PostListItemFooter__TitleTooltip {
            display: flex;
        }
        */
    }
    
    &__TitleContent {
        font-weight: bold;
        margin-right: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }
    
    &__TitleTooltip {
        display: none;
        position: absolute;
        top: -0.5rem;
        background: white;
        z-index: 1;
    }
    &__TitleTooltipContent {
        background: black;
        position: absolute;
        bottom: 100%;
        color: white;
        white-space: nowrap;
        padding: 0.5rem;
        border: 1px solid #999;
        border-radius: 0.5rem;
    }
    
    &__Types {
        display: flex;
        flex-shrink: 0;
    }
    &__Type {
        margin-left: 0.5rem;
    }
}
</style>