<template>
<div class="AIF-PostViewerImage">
    <img 
        class="AIF-PostViewerImage__Image"
        :src="src"/>
</div>
</template>

<script>
export default {
    props: {
        src: String,
    },
};
</script>

<style lang="scss">
.AIF-PostViewerImage {
    width: 100%;
    height: 100%;
    
    &__Image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
</style>