<template>
<div 
    v-if="score"
    class="AIF-PostListItem__Score">
    <i :class="'fal fa-fw fa-' + scoreIcon" title="Score"></i>
    {{ score }}
</div>
</template>

<script>
export default {
    props: {
        post: Object,
        scoreIcon: String,
    },
    computed: {
        score() {
            if (this.post.recommendations && this.post.recommendations.length > 0) {
                return this.post.recommendations[0].score;
            }
            if (this.post.recommendation_results && this.post.recommendation_results.length > 0) {
                return (this.post.recommendation_results[0].score / 10000).toFixed(0) + '%';
            }
            if (this.post.ratings_count) {
                return this.post.ratings_count;
            }
        },
    },
}
</script>

<style lang="scss">
.AIF-PostListItem__Score {
    white-space: nowrap;
    font-size: 1.1rem;
    color: #aaa;
}
</style>