<template>
<div 
    :class="{
        'AIF-PostTypeBadge': 1,
        'AIF-PostTypeBadge--gender': gender,
        'AIF-PostTypeBadge--media': media,
        'AIF-PostTypeBadge--artstyle': artstyle,
    }">
    {{ type }}
</div>
</template>


<script>
export default {
    props: {
        type: String,
        gender: Boolean,
        media: Boolean,
        artstyle: Boolean,
    },
};
</script>


<style lang="scss">
.AIF-PostTypeBadge {
    display: inline-block;
    
    font-size: 1.2rem;
    background: #222;
    padding: 0.2rem 0.8rem;
    color: #ccc;
    
    border: 1px solid #333;
    border-radius: 999px;
    
    &:hover {
        border-color: #444;
    }
    
    &--gender {
        border-color: #303;
        background: #202;
        &:hover {
            border-color: #404;
        }
    }
    &--media {
        border-color: #033;
        background: #022;
        &:hover {
            border-color: #044;
        }
    }
    &--artstyle {
        border-color: #330;
        background: #220;
        &:hover {
            border-color: #440;
        }
    }
}
</style>