<template>
<div class="AIF-PostListItemHeader">
    <div class="AIF-PostListItemHeader__Row">
        <div 
            class="AIF-PostListItemHeader__Feed"
            title="From feed: Newest">
            <i :class="'fal fa-fw fa-' + feedIcon"></i>
        </div>
        <div class="AIF-PostListItemHeader__Source">
            <template v-if="post.subreddit_title != '_unknown'">
                /r/{{ post.subreddit_title }}
            </template>
            <template v-else>
                Imported post
            </template>
        </div>
    </div>
    <div class="AIF-PostListItemHeader__Row">
        <div class="AIF-PostListItemHeader__Tags">
            <tag-badge
                v-for="tag in post.tags"
                :key="tag.id"
                :tag="tag"/>
        </div>
    </div>
</div>
</template>

<script>
import TagBadge from './TagBadge';

export default {
    components: {
        TagBadge,
    },
    props: {
        post: Object,
        scoreLabel: String,
        feedIcon: String,
    }
}
</script>

<style lang="scss">
.AIF-PostListItemHeader {
    padding: 1rem;
    padding-right: 3rem;
    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
    
    &__Row {
        display: flex;
        align-items: center;
    }
    
    &__Feed {
    }
    
    &__Source {
        margin-left: 0.5rem;
    }
    
    &__Tags {
        margin-left: 2rem;
        flex-grow: 1;
        opacity: 0.5;
    }
    &__Actions {
        display: none;
    }
    
}
</style>