<template>
<div class="AIF-PostViewerVideo">
    <video 
        autoplay
        loop
        :muted="muted"
        :controls="showVideoControls"
        class="AIF-PostViewerVideo__Video"
        ref="video"
        @click="togglePlay"
        @waiting="onWaiting"
        @canplay="onBufferedSoon"
        @playing="onBuffered"
        :src="src"/>
</div>
</template>

<script>
export default {
    props: {
        src: String,
        
        showVideoControls: Boolean,
        muted: Boolean,
    },
    watch: {
        src() {
            this.$emit('buffering');
        },
    },
    mounted() {
        this.$emit('buffering');
    },
    methods: {
        togglePlay() {
            if (this.$refs.video.paused) {
                this.$refs.video.play();
            } else {
                this.$refs.video.pause();
            }
        },
        onWaiting() {
            this.$emit('buffering');
        },
        onBuffered() {
            if (this.$refs.video.paused) {
                this.$refs.video.play();
            }
            this.$emit('buffered');
        },
        onBufferedSoon() {
            var oldSrc = this.src;
            setTimeout(() => {
                if (this.src == oldSrc) {
                    this.$emit('buffered');
                }
            }, 2000);
        },
    },
};
</script>

<style lang="scss">
.AIF-PostViewerVideo {
    width: 100%;
    height: 100%;
    
    &__Video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
</style>