<template>
<div :class="{
        'AIF-SupportUsDisplay': 1,
        'AIF-SupportUsDisplay--mini': mini,
    }">
    <div class="AIF-SupportUsDisplay__ProgressBar">
        <div class="AIF-SupportUsDisplay__ProgressBarStart">
            <div class="AIF-SupportUsDisplay__ProgressBarLabel">
                Patreon funding:
            </div>
        </div>
        <div class="AIF-SupportUsDisplay__ProgressBarProgress"
            :style="{width: levelPercentage + '%'}">
            <div class="AIF-SupportUsDisplay__ProgressBarInnerLabel">
                ${{ support }}{{ mini ? '' : '/mo' }}
            </div>
        </div>
        <div class="AIF-SupportUsDisplay__ProgressBarEnd">
            <div class="AIF-SupportUsDisplay__ProgressBarLabel">
                Target:
                ${{ needed }}/mo
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        needed: Number,
        support: Number,
        mini: Boolean,
    },
    computed: {
        levelPercentage() {
            return (this.support / this.needed) * 100;
        },
    },
}
</script>

<style lang="scss">
.AIF-SupportUsDisplay {
    ul {
        padding-left: 2rem;
        margin-top: 2rem;
    }

    &__ProgressBar {
        background: #666;
        background: linear-gradient(to right, #444, #333, #444);
        height: 3rem;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    &__ProgressBarLabel {
        position: absolute;
        top: -2rem;
        white-space: nowrap;
    }
    
    &__ProgressBarInnerLabel {
        font-weight: 600;
        margin: 0 2rem;
    }
    
    
    &__ProgressBarStart {
        height: 100%;
        width: 2px;
        background: #999;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        
        .AIF-SupportUsDisplay__ProgressBarLabel {
            left: 0;
        }
    }
    
    &--mini {
        .AIF-SupportUsDisplay__ProgressBarLabel {
            font-size: 0.8rem;
            top: -1.1rem;
        }
        .AIF-SupportUsDisplay__ProgressBarInnerLabel {
            margin-right: 1rem;
            font-size: 1rem;
        }
        .AIF-SupportUsDisplay__ProgressBarProgress {
            background: linear-gradient(to left, #00ffff 2px, #ff00ff 15px, #ef00ef 20px, #ec00ec 60px, #900090);
        }
        .AIF-SupportUsDisplay__ProgressBar {
            height: 2.2rem;
        }
    }
    
    &__ProgressBarEnd {
        height: 100%;
        width: 2px;
        background: #999;
        position: absolute;
        right: 0;
        top: 0;
        
        .AIF-SupportUsDisplay__ProgressBarLabel {
            right: 0;
        }
    }
    
    &__ProgressBarProgress {
        height: 100%;
        width: 65%;
        background: #999;
        background: linear-gradient(to left, #00ffff 2px, #ff00ff 20px, #ef00ef 38px, #ec00ec 100px, #900090);
        position: absolute;
        left: 0;
        top: 0;
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
</style>