<template>
<div class="AIF-TagSuggestionList">
    <table class="AIF-TagSuggestionList__Table">
        <thead>
            <tr>
                <th>Score</th>
                <th colspan="2">Suggestion</th>
                <th colspan="2">State</th>
                <th>Owner</th>
                <th v-if="canVote"></th>
            </tr>
        </thead>
        <tbody>
            <tr
                v-for="suggestion in suggestions"
                :class="{
                    'AIF-TagSuggestionList__Item': 1,
                    'AIF-TagSuggestionList__Item--positive': suggestion.score > 0,
                    'AIF-TagSuggestionList__Item--negative': suggestion.score < 0,
                }">
                <td :class="{
                        'AIF-TagSuggestionList__Score': 1,
                        'AIF-TagSuggestionList__Score--positive': suggestion.score > 0,
                        'AIF-TagSuggestionList__Score--negative': suggestion.score < 0,
                    }">
                    {{ suggestion.score }}
                </td>
                <template v-if="suggestion.type == 'new-tag'">
                    <td class="AIF-TagSuggestionList__TableCentered">
                        <i class="fal fa-plus"></i>
                        <i class="fal fa-tag"></i>
                        New tag
                    </td>
                    <td>
                        <template v-if="suggestion.new_tag_namespace">
                            {{ suggestion.new_tag_namespace.shortkey }}:{{ suggestion.new_tag_key }}
                        </template>
                        <template v-else>
                            {{ suggestion.new_tag_key }}
                        </template>
                        <app-text subdued>
                            &mdash;
                            {{ suggestion.new_tag_description }}
                        </app-text>
                    </td>
                </template>
                <template v-if="suggestion.type == 'new-alias'">
                    <td class="AIF-TagSuggestionList__TableCentered">
                        <i class="fal fa-arrow-right"></i>
                        <i class="fal fa-tag"></i>
                        New alias
                    </td>
                    <td>
                        {{ suggestion.old_tag_id }}
                        <i class="fal fa-arrow-right"></i>
                        <template v-if="suggestion.new_tag_namespace">
                            {{ suggestion.new_tag_namespace.shortkey }}:{{ suggestion.new_tag_key }}
                        </template>
                        <template v-else>
                            {{ suggestion.new_tag_key }}
                        </template>
                    </td>
                </template>
                <template v-if="suggestion.status == 'pending'">
                    <td colspan="2" class="AIF-TagSuggestionList__TableCentered">
                        <app-text subdued>
                            Pending
                        </app-text>
                    </td>
                </template>
                <template v-if="suggestion.status == 'on-hold'">
                    <td class="AIF-TagSuggestionList__TableCentered">
                        <app-text brand>
                            On-hold
                        </app-text>
                    </td>
                    <td class="">
                        {{ suggestion.rejection_reason }}
                    </td>
                </template>
                <template v-if="suggestion.status == 'added'">
                    <td class="AIF-TagSuggestionList__TableCentered">
                        <app-text positive>
                            Added
                        </app-text>
                    </td>
                    <td class="AIF-TagSuggestionList__TableCentered">
                        <tag-badge
                            v-if="suggestion.new_tag"
                            :tag="suggestion.new_tag"/>
                    </td>
                </template>
                <template v-if="suggestion.status == 'rejected'">
                    <td class="AIF-TagSuggestionList__TableCentered">
                        <app-text negative>
                            Rejected
                        </app-text>
                    </td>
                    <td class="">
                        {{ suggestion.rejection_reason }}
                    </td>
                </template>
                <td class="AIF-TagSuggestionList__TableCentered">
                    <i class="fal fa-user"></i>
                    {{ suggestion.user.username }}
                </td>
                <td 
                    v-if="canVote"
                    class="AIF-TagSuggestionList__TableCentered">
                    <template v-if="suggestion.votes.length > 0">
                        <template v-if="suggestion.votes[0].type == 'upvote'">
                            <app-button
                                primary
                                small
                                @click="onVote(suggestion, 'reset')">
                                <i class="fal fa-thumbs-up"></i>
                            </app-button>
                        </template>
                        <template v-else>
                            <app-button
                                subdued
                                small
                                @click="onVote(suggestion, 'upvote')">
                                <i class="fal fa-thumbs-up"></i>
                            </app-button>
                        </template>
                        <template v-if="suggestion.votes[0].type == 'downvote'">
                            <app-button
                                primary
                                small
                                @click="onVote(suggestion, 'reset')">
                                <i class="fal fa-thumbs-down"></i>
                            </app-button>
                        </template>
                        <template v-else>
                            <app-button
                                subdued
                                small
                                @click="onVote(suggestion, 'downvote')">
                                <i class="fal fa-thumbs-down"></i>
                            </app-button>
                        </template>
                    </template>
                    <template v-else>
                        <app-button
                            subdued
                            small
                            @click="onVote(suggestion, 'upvote')">
                            <i class="fal fa-thumbs-up"></i>
                        </app-button>
                        <app-button
                            subdued
                            small
                            @click="onVote(suggestion, 'downvote')">
                            <i class="fal fa-thumbs-down"></i>
                        </app-button>
                    </template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
import TagBadge from './TagBadge';

export default {
    components: {
        TagBadge,
    },
    props: {
        suggestions: {
            type: Array,
            default() {
                return [];
            },
        },
        canVote: {
            type: Boolean,
            default: true,
        },
    },
    methods: {
        onVote(suggestion, type) {
            this.$emit('vote', {
                suggestion,
                type,
            });
        },
    },
};
</script>

<style lang="scss">
.AIF-TagSuggestionList {
    &__Table {
        width: 100%;
        
        td {
            padding: 1px 1rem;
        }
    }
    
    &__TableCentered {
        text-align: center;
        white-space: nowrap;
    }
    
    
    &__Score {
        text-align: center;
        
        &--positive {
            color: #00ff00;
        }
        
        &--negative {
            color: #999;
        }
    }
    
    
    &__Item {
        &--negative {
            color: #999;
        }
    }
}
</style>