<template>
<div class="AIF-UpdateNotes">
    <div 
        v-for="content, filename in versions"
        class="AIF-UpdateNotes__Version">
        <div class="AIF-UpdateNotes__Title">
            {{ filename.replace('./', '').replace('.txt', '') }}
        </div>
        <pre class="AIF-UpdateNotes__Content">{{ content }}</pre>
    </div>
</div>
</template>

<script>
const versions = (ctx => {
    let keys = ctx.keys().reverse();
    let values = keys.map(ctx);
    return keys.reduce((o, k, i) => { o[k] = values[i]; return o; }, {});
})(require.context('@/versions/', true, /.*/));

export default {
    data() {
        return {
            versions,
        };
    },
};
</script>

<style lang="scss">
.AIF-UpdateNotes {
    &__Title {
        font-weight: bold;
    }
    
    &__Version {
        + .AIF-UpdateNotes__Version {
            margin-top: 2rem;
        }
    }
    
    &__Content {
        margin: 0;
        max-height: 30rem;
        overflow-y: auto;
    }
}
</style>