<template>
<app-card
    title="Supporter">
    <app-card-section>
        <p>
            Become a supporter to unlock extra features and help further the development of AIFap.
        </p>
    </app-card-section>
    <app-card-section
        title="Supporter status">
        <div 
            v-if="user.is_supporter"
            class="AIF-UserSupporter__Status">
            <app-text positive class="AIF-UserSupporter__StatusIcon">
                <i class="fal fa-fw fa-heart-square"></i>
            </app-text>
            <div class="AIF-UserSupporter__StatusMessage">
                Thanks for supporting us! 
                <br>
                Extra functionality is unlocked.
            </div>
        </div>
        <div 
            v-else
            class="AIF-UserSupporter__Status">
            <app-text negative class="AIF-UserSupporter__StatusIcon">
                <i class="fal fa-fw fa-heart-square"></i>
            </app-text>
            <div class="AIF-UserSupporter__StatusMessage">
                <template v-if="user.patreon_user_id">
                    Patreon account connected, but you don't seem to be an active supporter.
                    <br>
                    Please contact us on Discord if this is incorrect.
                </template>
                <template v-else>
                    Connect your Patreon account below, or contact us on discord
                    to unlock supporter features.
                </template>
            </div>
        </div>
    </app-card-section>
    <app-card-section
        title="Ways to support us">
        <table style="width:100%">
            <tr>
                <td>Patreon</td>
                <td>
                    <a href="https://www.patreon.com/aif">
                        https://www.patreon.com/aif
                    </a>
                </td>
                <td>Pledge monthly.</td>
                <td
                    v-if="user.patreon_user_id">
                    Account connected!
                    <app-button
                        small
                        @click="disconnectPatreon">
                        Disconnect
                    </app-button>
                </td>
                <td
                    v-else>
                    <app-button
                        primary
                        @click="connectPatreon">
                        Connect Patreon account
                    </app-button>
                </td>
            </tr>
            <!--
            <tr>
                <td>Discord Bot</td>
                <td>
                <td>Donate monthly or one-off.</td>
                <td>Contact us via Discord to confirm supporter status.</td>
            </tr>
            -->
            <tr>
                <td>Bitcoin</td>
                <td>1QFjSptGwKVdXHRHNgxdCcjLsBVwLEangD</td>
                <td>Donate one-off anonymously.</td>
                <td><!--Contact us via Discord to confirm supporter status.--></td>
            </tr>
        </table>
    </app-card-section>
    <app-card-section
        title="Why support AIFap?">
        <p>
            AIFap is continuing to expand and improve every day. 
            Our mission is to help you find the porn that you
            enjoy, without any compromise on quality or privacy.
        </p>
        <p>
            If you like what we do and want to help us continue doing it, please
            consider supporting us by becoming a Patron. 
            Every cent we recieve will go directly to covering 
            our running costs and helping us pursue our goal of creating the 
            best porn recommendation platform on the internet.
        </p>
        <p>
            Thank you for your support.
            <br>
            &mdash; AIFap Developers
        </p>
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import alert from '@/services/alert';

import TagBadge from './TagBadge';
import SubredditBadge from './SubredditBadge';

export default {
    components: {
        TagBadge,
        SubredditBadge,
    },
    data() {
        return {
            user: null,
        };
    },
    computed: {
    },
    async mounted() {
        this.user = await session.getUser();
    },
    methods: {
        async connectPatreon() {
            var res = await api.get('account/patreon/connect');
            
            if (res.data.success) {
                window.location.href = res.data.auth_url;
            }
        },
        async disconnectPatreon() {
            var res = await api.post('account/patreon/disconnect');
            
            window.location.reload();
        },
    },
};
</script>


<style lang="scss">
.AIF-UserSupporter {
    &__Status {
        display: flex;
    }
    
    &__StatusIcon {
        display: flex;
        padding: 1rem;
        font-size: 4rem;
    }
    
    &__StatusMessage {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
</style>