<template>
<app-card
    title="Content Preferences">
    <app-card-section
        title="Warnings">
        <p>
            <app-text negative>
                <em>
                    Blacklisting content does not have the same effect as negative ratings.
                    Blacklisting tags/subreddits you haven't rated on may have a noticably negative effect on your recommendations,
                    and may result in related unwanted content being recommended in the future.
                </em>
                <br>
                <br>
                We recommend only blacklisting content if you have already 
                rated it heavily and disliked all examples.
                Otherwise, rating negatively will typically have a better result on
                your recommendations.
            </app-text>
        </p>
    </app-card-section>
    <app-card-section
        title="Note">
        <p>
            This feature is still experimental. For now, blacklisting content doesn't 
            prevent it from being recommended from you, it simply hides it from view.
        </p>
    </app-card-section>
    <app-card-section
        title="Source blacklist">
        <table style="width:100%">
            <tbody>
                <tr
                    v-for="sub in blacklistedSubreddits">
                    <td>
                        <subreddit-badge
                            :title="sub.title"
                            :id="sub.id"/>
                    </td>
                    <td>
                        <app-button
                            small
                            subdued
                            @click="unblacklistSubreddit(sub)">
                            <i class="fal fa-fw fa-times"></i>
                        </app-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>
            Add new:
        </p>
        <select
            v-model="selectedSubreddit">
            <option
                v-for="sub in subreddits"
                :value="sub">
                r/{{ sub.slug }}
            </option>
        </select>
        
        <app-button
            small
            @click="blacklistSubreddit">
            Blacklist source
        </app-button>
    </app-card-section>
    <app-card-section
        title="Tag blacklist">
        <table style="width:100%">
            <tbody>
                <tr 
                    v-for="tag in blacklistedTags">
                    <td>
                        <tag-badge
                            :tag="tag"/>
                    </td>
                    <td>
                        <app-button
                            small
                            subdued
                            @click="unblacklistTag(tag)">
                            <i class="fal fa-fw fa-times"></i>
                        </app-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>
            Add new:
        </p>
        <select
            v-model="selectedTag">
            <option
                v-for="tag in tags"
                :value="tag">
                {{ tag.tag_namespace ? tag.tag_namespace.key + ':' + tag.key : tag.key }}
            </option>
        </select>
        <app-button
            small
            @click="blacklistTag">
            Blacklist tag
        </app-button>
    </app-card-section>
    <app-card-section>
        <app-text subdued>
            You may need to refresh your browser for settings changes to take effect.
        </app-text>
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import alert from '@/services/alert';

import TagBadge from './TagBadge';
import SubredditBadge from './SubredditBadge';

export default {
    components: {
        TagBadge,
        SubredditBadge,
    },
    data() {
        return {
            subreddits: null,
            tags: null,
            
            selectedSubreddit: null,
            selectedTag: null,
            
            blacklistedSubreddits: [],
            blacklistedTags: [],
        };
    },
    async mounted() {
        api.get('/info/tags').then(res => {
            this.tags = res.data.tags;
        });
        
        api.get('/info/subreddits').then(res => {
            this.subreddits = res.data.subreddits;
        });
        
        this.load();
    },
    methods: {
        async load() {
            var res = await api.get('/account/content_preferences');
            this.blacklistedSubreddits = res.data.blacklisted_subreddits;
            this.blacklistedTags = res.data.blacklisted_tags;
            
            session.reloadContentPrefs();
        },
        async blacklistSubreddit() {
            var subId = this.selectedSubreddit.id;
            await api.post('/account/content_preferences/blacklist/subreddits/' + subId);
            this.load();
            
        },
        async blacklistTag() {
            var tagId = this.selectedTag.id;
            await api.post('/account/content_preferences/blacklist/tags/' + tagId);
            this.load();
        },
        async unblacklistSubreddit(subreddit) {
            await api.post('/account/content_preferences/blacklist/subreddits/' + subreddit.id + '/delete');
            this.load();
        },
        async unblacklistTag(tag) {
            await api.post('/account/content_preferences/blacklist/tags/' + tag.id + '/delete');
            this.load();
        },
    },
};
</script>