<template>
<div class="AIF-UserTrustLevelDisplay"
    v-if="levels">
    <div class="AIF-UserTrustLevelDisplay__ProgressBar">
        <div class="AIF-UserTrustLevelDisplay__ProgressBarStart">
            <div class="AIF-UserTrustLevelDisplay__ProgressBarLabel">
                {{ currentLevel.name }} ({{ currentLevel.trustLevel }} <i class="fal fa-fw fa-shield-alt"></i>)
            </div>
        </div>
        <div class="AIF-UserTrustLevelDisplay__ProgressBarProgress"
            :style="{width: levelPercentage + '%'}">
        </div>
        <div class="AIF-UserTrustLevelDisplay__ProgressBarEnd">
            <div class="AIF-UserTrustLevelDisplay__ProgressBarLabel">
                {{ nextLevel.name }} ({{ nextLevel.trustLevel }} <i class="fal fa-fw fa-shield-alt"></i>)
            </div>
        </div>
    </div>
    <app-split
        :columns="2">
        <div class="AIF-UserTrustLevelDisplay__EarnedUnlocks">
            <strong>
                Your privileges:
            </strong>
            <ul>
                <li
                    v-for="unlock in earnedUnlocks">
                    {{ unlock.name }}
                </li>
                <li v-if="earnedUnlocks.length < 1">
                    None yet
                </li>
            </ul>
        </div>
        <div class="AIF-UserTrustLevelDisplay__UnearnedUnlocks">
            <strong>
                Next trust level unlocks:
            </strong>
            <ul>
                <li
                    v-for="unlock in nextLevel.unlocks">
                    {{ unlock.name }}
                </li>
                <li v-if="!nextLevel.unlocks || nextLevel.unlocks.length < 1">
                    ???
                </li>
            </ul>
        </div>
    </app-split>
</div>
</template>

<script>
export default {
    props: {
        trust: Number,
        levels: Array,
    },
    computed: {
        levelPercentage() {
            var min = this.currentLevel.trustLevel;
            var max = this.nextLevel.trustLevel;
            var value = this.trust;
            
            return ((value - min) / (max - min)) * 100;
        },
        currentLevel() {
            var last = null;
            for (let level of this.levels) {
                if (level.achieved) {
                    last = level;
                } else {
                    return last;
                }
            }
            return last;
        },
        nextLevel() {
            for (let level of this.levels) {
                if (!level.achieved) {
                    return level;
                }
            }
            return null;
        },
        earnedUnlocks() {
            var unlocks = [];
            for (let level of this.levels) {
                if (!level.achieved) {
                    return unlocks;
                }
                for (let unlock of level.unlocks) {
                    unlocks.push(unlock);
                }
            }
            return unlocks;
        },
    },
}
</script>

<style lang="scss">
.AIF-UserTrustLevelDisplay {
    ul {
        padding-left: 2rem;
        margin-top: 2rem;
    }

    &__ProgressBar {
        background: #666;
        background: linear-gradient(to right, #666, #444, #666);
        height: 3rem;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    &__ProgressBarLabel {
        position: absolute;
        top: -2rem;
        white-space: nowrap;
    }
    
    
    &__ProgressBarStart {
        height: 100%;
        width: 2px;
        background: #999;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        
        .AIF-UserTrustLevelDisplay__ProgressBarLabel {
            left: 0;
        }
    }
    
    &__ProgressBarEnd {
        height: 100%;
        width: 2px;
        background: #999;
        position: absolute;
        right: 0;
        top: 0;
        
        .AIF-UserTrustLevelDisplay__ProgressBarLabel {
            right: 0;
        }
    }
    
    &__ProgressBarProgress {
        height: 100%;
        width: 65%;
        background: #999;
        background: linear-gradient(to left, #00ffff 2px, #ff00ff 20px, #ef00ef 38px, #ec00ec 100px, #900090);
        position: absolute;
        left: 0;
        top: 0;
    }
}
</style>