<template>
<app-card
    v-if="user"
    title="Account">
    <app-card-section
        title="Details">
        <p>
            Username: 
            {{ user.username }}
            <br>
            Created at:
            {{ user.created_at }}
        </p>
    </app-card-section>
    <app-card-section
        title="Stats">
        <p>
            Posts viewed: {{ stats.views_count }}
            <br>
            Ratings: {{ stats.ratings_count }}
        </p>
    </app-card-section>
    <app-card-section
        title="Default filters">
        <gender-filter
            v-model="user.gender_filter"/>
        &nbsp;
        &nbsp;
        <media-filter
            v-model="user.media_filter"/>
        &nbsp;
        &nbsp;
        <artstyle-filter
            v-model="user.artstyle_filter"/>
        &nbsp;
        &nbsp;
        <app-button
            @click="onSaveFilters()">
            Save filters
        </app-button>
        <br>
        (Hover over filter icons for key)
    </app-card-section>
    <app-card-section
        title="Actions">
        <app-button
            @click="onClearWatchLater">
            Clear watch later
        </app-button>
    </app-card-section>
    <app-card-section>
        <app-button
            @click="onLogout">
            Log out
        </app-button>
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import viewedPosts from '@/services/viewedPosts';
import alert from '@/services/alert';

import GenderFilter from '@/components/GenderFilter';
import MediaFilter from '@/components/MediaFilter';
import ArtstyleFilter from '@/components/ArtstyleFilter';

export default {
    components: {
        GenderFilter,
        MediaFilter,
        ArtstyleFilter,
    },
    data() {
        return {
            user: null,
            stats: null,
        };
    },
    async mounted() {
        this.user = await session.getUser();
        console.log('profile user loaded', {
            user: this.user
        });
        session.on('update', async () => {
            this.user = await session.getUser();
        });
        
        var res = await api.get('/account/account_stats');
        this.stats = res.data.stats;
    },
    methods: {
        async onSaveFilters() {
            var res = await api.post('/account', this.user);
            this.user = res.data.user;
            alert.showAlert('Default filters saved.');
        },
        async onClearWatchLater() {
            var res = await api.post('/account/clear_watch_later', {});
            alert.showAlert('Watch later queue cleared.');
        },
        onLogout() {
            window.location.href = '/logout';
        },
    },
};
</script>