<template>
<app-card
    title="Reset password">
    <app-card-section>
        <app-form-layout>
            <app-text-field
                v-model="oldPassword"
                label="Current password"/>
            <app-text-field
                v-model="newPassword"
                label="New password"/>
            <app-text-field
                v-model="newPasswordConfirm"
                label="Confirm new password"/>
            <app-button
                @click="onChangePassword">
                Change password
            </app-button>
        </app-form-layout>
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import alert from '@/services/alert';

export default {
    components: {
    },
    data() {
        return {
            oldPassword: null,
            newPassword: null,
            newPasswordConfirmation: null,
        };
    },
    async mounted() {
    },
    methods: {
        async onChangePassword() {
            try {
                var res = await api.post('/account/change_password', {
                    old_password: this.oldPassword,
                    new_password: this.newPassword,
                    new_password_confirmation: this.newPasswordConfirm,
                });
            } catch (e) {
                if (e.response) {
                    if (e.response.data.errors) {
                        var errors = e.response.data.errors;
                        alert.showAlert(Object.values(errors)[0][0]);
                    } else {
                        throw e;
                    }
                } else {
                    throw e;
                }
            }
            
            if (!res.data.success) {
                alert.showAlert(res.data.message);
                return;
            }
            
            alert.showAlert(res.data.message);
            this.oldPassword = null;
            this.newPassword = null;
            this.newPasswordConfirm = null;
        },
    },
};
</script>