<template>
<app-card title="Your ratings summary">
    <app-card-section
        title="Post types">
        <app-split v-if="typeScores" :columns="3" collapse-mobile>
            <div>
                <strong>Gender types:</strong>
                <div v-for="score, type in typeScores.gender_type">
                    <post-type-badge
                        gender
                        :type="type"
                        :style="{color: calcFixedColor(score)}"/>
                    <app-text subdued>(Score: {{ score.toFixed(3) }})</app-text>
                </div>
            </div>
            <div>
                <strong>Media types:</strong>
                <div v-for="score, type in typeScores.media_type">
                    <post-type-badge
                        media
                        :type="type"
                        :style="{color: calcFixedColor(score)}"/>
                    <app-text subdued>(Score: {{ score.toFixed(3) }})</app-text>
                </div>
            </div>
            <div>
                <strong>Artstyle types:</strong>
                <div v-for="score, type in typeScores.artstyle_type">
                    <post-type-badge
                        artstyle
                        :type="type"
                        :style="{color: calcFixedColor(score)}"/>
                    <app-text subdued>(Score: {{ score.toFixed(3) }})</app-text>
                </div>
            </div>
        </app-split>
    </app-card-section>
    <app-card-section
        title="Subreddits">
        <app-split :columns="4" collapse-mobile fluid>
            <div>
                <strong>Most liked:</strong>
                <div v-for="subreddit in topSubreddits">
                    <subreddit-badge
                        :id="subreddit.id"
                        :title="subreddit.slug"
                        :style="{color: calcSubColor(subreddit.score)}"/>
                    <app-text subdued>(Score: {{ subreddit.score.toFixed(3) }})</app-text>
                </div>
            </div>
            <div>
                <strong>Most disliked:</strong>
                <div v-for="subreddit in bottomSubreddits">
                    <subreddit-badge
                        :id="subreddit.id"
                        :title="subreddit.slug"
                        :style="{color: calcSubColor(subreddit.score)}"/>
                    <app-text subdued>(Score: {{ subreddit.score.toFixed(3) }})</app-text>
                </div>
            </div>
            <div style="grid-column: 3 / span 2">
                <strong>All rated:</strong>
                <br>
                <span v-for="subreddit in subredditScores">
                    <subreddit-badge
                        :id="subreddit.id"
                        :title="subreddit.slug"
                        :style="{color: calcSubColor(subreddit.score)}"/>
                </span>
            </div>
        </app-split>
    </app-card-section>
    <app-card-section
        title="Tags">
        <app-split :columns="4" collapse-mobile fluid>
            <div>
                <strong>Most liked:</strong>
                <div v-for="tag in topTags">
                    <tag-badge
                        :tag="tag"
                        :style="{color: calcSubColor(tag.score)}"/>
                    <app-text subdued>(Score: {{ tag.score.toFixed(3) }})</app-text>
                </div>
            </div>
            <div>
                <strong>Most disliked:</strong>
                <div v-for="tag in bottomTags">
                    <tag-badge
                        :tag="tag"
                        :style="{color: calcSubColor(tag.score)}"/>
                    <app-text subdued>(Score: {{ tag.score.toFixed(3) }})</app-text>
                </div>
            </div>
            <div style="grid-column: 3 / span 2">
                <strong>All rated:</strong>
                <br>
                <span v-for="tag in tagScores">
                    <tag-badge
                        :tag="tag"
                        :style="{color: calcSubColor(tag.score)}"/>
                </span>
            </div>
        </app-split>
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import viewedPosts from '@/services/viewedPosts';
import alert from '@/services/alert';

import SubredditBadge from '@/components/SubredditBadge';
import TagBadge from '@/components/TagBadge';
import PostTypeBadge from '@/components/PostTypeBadge';


export default {
    components: {
        SubredditBadge,
        TagBadge,
        PostTypeBadge,
    },
    data() {
        return {
            subredditScores: null,
            typeScores: null,
            tagScores: null,
        };
    },
    async mounted() {
        var res = await api.get('/account/ratings_summary');
        this.subredditScores = res.data.subreddits;
        this.typeScores = res.data.types;
        this.tagScores = res.data.tags;
    },
    computed: {
        topSubreddits() {
            if (!this.subredditScores) {
                return [];
            }
            return this.subredditScores.slice(0, 12);
        },
        bottomSubreddits() {
            if (!this.subredditScores) {
                return [];
            }
            return this.subredditScores.slice().reverse().slice(0, 12);
        },
        topTags() {
            if (!this.tagScores) {
                return [];
            }
            return this.tagScores.slice(0, 12);
        },
        bottomTags() {
            if (!this.tagScores) {
                return [];
            }
            return this.tagScores.slice().reverse().slice(0, 12);
        },
        maxSubredditScore() {
            if (!this.subredditScores) {
                return 0;
            }
            return this.subredditScores[0].score;
        },
        minSubredditScore() {
            if (!this.subredditScores) {
                return 0;
            }
            return this.subredditScores[this.subredditScores.length - 1].score;
        },
    },
    methods: {
        calcSubColor(score) {
            var factor = (score - this.minSubredditScore) / (this.maxSubredditScore - this.minSubredditScore);
            
            var color = 'hsl(' + (factor * 150) + ', 40%, 50%)';
            return color;
        },
        calcFixedColor(score) {
            var factor = (score + 1) / 2;
            
            var color = 'hsl(' + (factor * 150) + ', 40%, 50%)';
            return color;
        },
    },
}
</script>