<template>
<app-page
    has-tabs
    fixed-width
    title="Moderation"
    description="Moderation tooling.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
                makeLink('Subreddits', 'list', 'ModSubreddits'),
                makeLink('Tags', 'tags', 'ModTags'),
                makeLink('Post tagging', 'tags', 'ModTaggings'),
                makeLink('Amends', 'edit', 'ModAmends'),
            ]"
            null-content="Results"/>
    </template>
   <router-view></router-view> 
</app-page>
</template>

<script>
export default {
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    methods: {
        makeLink(name, icon, route, align) {
            var r =  {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
            };
            console.log({r});
            return r;
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
};
</script>