<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="Taggings">
            <app-card-section>
                View and revert recent taggings.
                Reverting will change the post tags to the old values, regardless of if they've been changed again since.
                Reverting will penalize the user who changed that tags by reducing their Trust level.
            </app-card-section>
            <app-card-section>
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Post</th>
                            <th>Thumb</th>
                            <th>User</th>
                            <th>Sub</th>
                            <th>Tags</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="tagging, i in taggings">
                            <tr v-if="i > 0 && (i % 10 == 0)">
                                <th>ID</th>
                                <th>Post</th>
                                <th>Thumb</th>
                                <th>User</th>
                                <th>Sub</th>
                                <th>Tags</th>
                                <th>Actions</th>
                            </tr>
                            <tr
                                :style="{
                                    textDecoration: tagging.reverted ? 'line-through' : null,
                                    color: tagging.reverted ? 'red' : null,
                                }">
                                <td>{{ tagging.id }}</td>
                                <td style="width: 30%">
                                    <a 
                                        :href="tagging.post.media_url"
                                        target="_blank">
                                        {{ tagging.post.title }}
                                    </a>
                                </td>
                                <td>
                                    <img 
                                        style="max-width:100%; max-height: 100px;"
                                        :src="tagging.post.thumbnail_url || tagging.post.media_url"/>
                                </td>
                                <td>{{ tagging.user.username }}</td>
                                <td>
                                    <subreddit-badge
                                        :id="tagging.post.subreddit_id"
                                        :title="tagging.post.subreddit_title"/>
                                </td>
                                <td>
                                    <tag-badge
                                        v-for="tag in tagging.old_tags"
                                        :key="tag.id"
                                        :tag-key="tag.key"
                                        :id="tag.id"/>
                                    <app-text
                                        subdued
                                        v-if="tagging.old_tags.length == 0">
                                        No tags
                                    </app-text>
                                    <br>
                                    <i class="fal fa-fw fa-arrow-down"></i>
                                    <br>
                                    <tag-badge
                                        v-for="tag in tagging.new_tags"
                                        :key="tag.id"
                                        :tag-key="tag.key"
                                        :id="tag.id"/>
                                    <app-text
                                        subdued
                                        v-if="tagging.new_tags.length == 0">
                                        No tags
                                    </app-text>
                                </td>
                                <td>
                                    <app-button
                                        @click="onRevert(tagging)">
                                        Revert
                                    </app-button>
                                    <br>
                                    <app-button
                                        @click="onTag(tagging.post)">
                                        Re-tag
                                    </app-button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </app-card-section>
            <app-card-section>
                <app-button
                    v-if="page > 1"
                    @click="onPrev">
                    Previous
                </app-button>
                <app-button
                    @click="onNext">
                    Next
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <popup-manage-tags
        :current-tags="tagPost && tagPost.tags"
        :open="manageTagsPopupOpen"
        @close="manageTagsPopupOpen = false"
        @change-tags="onChangeTags"/>
</app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

import SubredditBadge from '@/components/SubredditBadge';
import TagBadge from '@/components/TagBadge';
import PopupManageTags from '@/components/PopupManageTags';

export default {
    components: {
        SubredditBadge,
        TagBadge,
        PopupManageTags,
    },
    data() {
        return {
            taggings: null,
            page: 1,
            
            tagPost: null,
            manageTagsPopupOpen: false,
        };
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            var res = await api.get('/moderation/taggings');
            this.taggings = res.data.taggings;
        },
        async onNext() {
            var res = await api.get('/moderation/taggings', {
                params: {
                    page: this.page + 1,
                },
            });
            if (res.data.taggings.length) {
                this.taggings = res.data.taggings;
                this.page++;
            } else {
                alert.showAlert('End of feed');
            }
        },
        async onPrev() {
            var res = await api.get('/moderation/taggings', {
                params: {
                    page: this.page - 1,
                },
            });
            if (res.data.taggings.length) {
                this.taggings = res.data.taggings;
                this.page--;
            }
        },
        async onRevert(tagging) {
            var res = await api.post('/moderation/taggings/' + tagging.id + '/revert', {});
            
            Object.assign(tagging, res.data.tagging);
            
            alert.showAlert('Tagging reverted');
        },
        onTag(post) {
            this.tagPost = post;
            this.manageTagsPopupOpen = true;
        },
        async onChangeTags({ tags }) {
            var res = await api.post('posts/' + this.tagPost.id + '/tag', {
                tags,
            });
            
            if (res.data.success) {
                this.initialize();
                alert.showAlert('Post tagged. Thank you!');
                this.manageTagsPopupOpen = false;
            } else {
                alert.showAlert('Couldn\'t tag that post.');
            }
        },
    },
};
</script>