<template>
<app-layout>
    <app-layout-section>
        <app-card
            :title="'Posts from /r/' + subreddit_slug">
            <app-card-section>
                This feed contains posts from /r/{{subreddit_slug}}, with the newest first.
            </app-card-section>
            <app-card-section>
                <app-button
                    @click="refresh">
                    Refresh feed
                    (last refresh: {{ this.session.refreshedAt }})
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section>
        Filters:
        &nbsp;
        &nbsp;
        <gender-filter
            v-model="session.filters.gender_type"/>
        &nbsp;
        &nbsp;
        <media-filter
            v-model="session.filters.media_type"/>
        &nbsp;
        &nbsp;
        <artstyle-filter
            v-model="session.filters.artstyle_type"/>
    </app-layout-section>
    <app-layout-section>
        <post-list
            :posts="posts"
            @play="onPlay"
            @load-more="onLoadMore"
            :make-play-route="makePlayRoute"/>
    </app-layout-section>
</app-layout>
</template>

<script>
import api from '@/http/api';
import feedSessions from '@/services/feedSessions';

import PostViewer from '@/components/PostViewer';
import PostDetails from '@/components/PostDetails';
import PostCard from '@/components/PostCard';
import PostList from '@/components/PostList';
import GenderFilter from '@/components/GenderFilter';
import MediaFilter from '@/components/MediaFilter';
import ArtstyleFilter from '@/components/ArtstyleFilter';

export default {
    components: {
        PostViewer,
        PostDetails,
        PostCard,
        PostList,
        GenderFilter,
        MediaFilter,
        ArtstyleFilter,
    },
    data() {
        return {
            posts: [],
            
            loading: true,
            session: null,
            
            subreddit_id: null,
            subreddit_slug: null,
        };
    },
    computed: {
    },
    watch: {
        'session.filters': {
            deep: true,
            handler() {
                if (this.loading) {
                    return;
                }
                this.refresh();
            }
        },
        '$route': function() {
            this.initialize();
        },
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            this.subreddit_id = this.$route.params.id;
            this.subreddit_slug = this.$route.params.slug;
            this.session = await feedSessions.getSubredditSession(this.subreddit_id);
            this.refresh();
        },
        async index() {
            this.loading = true;
            var posts = this.session.index();
            this.posts = posts;
            this.loading = false;
        },
        async refresh() {
            this.loading = true;
            var posts = await this.session.refresh();
            this.posts = posts;
            this.loading = false;
        },
        async onLoadMore() {
            this.loading = true;
            var posts = await this.session.nextPage();
            this.posts = this.posts.concat(posts);
            this.loading = false;
        },
        makePlayRoute(post) {
            return {
                name: 'Viewer',
                params: {
                    session: this.session.id,
                    page: post._pagination.page,
                    position: post._pagination.position,
                    post: post.id,
                },
            };
        },
        onPlay({ post, newTab }) {
            var route = this.makePlayRoute(post);
            if (newTab) {
                window.open(this.$router.resolve(route).href);
            } else {
                this.$router.push(route);
            }
        }
    },
}
</script>