<template>
<feed-view
    title="Search results (advanced)"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    refresh-label="Search"
    feed-icon="search">
    <template slot="description">
        This feed contains posts matching your search terms.
    </template>
    <template 
        slot="sessionControls" 
        slot-scope="scope">
        <app-card-section
            :loaded="setScope(scope)"
            v-if="scope.session && scope.session.params">
            <search-input
                :value="query"
                @change="v => query = v"/>
        </app-card-section>
        <app-card-section
            collapsable
            :default-collapsed="true"
            title="Examples"
            v-if="scope.session && scope.session.params">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Query</th>
                        <th>Matches</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <var>breasts cum</var>
                        </td>
                        <td>
                            Tagged 'breasts' AND 'cum'.
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'breasts cum'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>breasts source:nsfw_gif</var>
                        </td>
                        <td>
                            Tagged 'breasts' AND from /r/nsfw_gif
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'breasts source:nsfw_gif'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>breasts source:nsfw_gif source:nsfw</var>
                        </td>
                        <td>
                            Tagged 'breasts', from /r/nsfw_gif OR /r/nsfw
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'breasts source:nsfw_gif source:nsfw'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>title:red</var>
                        </td>
                        <td>
                            With 'red..' anywhere in the title (i.e. 'red', 'redhead', 'reddit').
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'title:red'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>title:"red$ dress"</var>
                        </td>
                        <td>
                            With the exact word 'red' in the title and 'dress..' anywhere in the title.
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'title:&quot;red$ dress&quot;'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>breasts -bimbo</var>
                        </td>
                        <td>
                            Tagged with 'breasts' and NOT tagged with 'bimbo'
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'breasts -bimbo'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>title:"dress" -title:"latex"</var>
                        </td>
                        <td>
                            With 'dress' in the title and 'latex' NOT in the title.
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'title:&quot;dress&quot; -title:&quot;latex&quot;'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>breasts</var>
                        </td>
                        <td>
                            Tagged '*:breasts' (i.e. breasts on any gender)
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'breasts'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>trans:breasts</var>
                        </td>
                        <td>
                            Tagged 'trans:breasts' (i.e. breasts on non-binary actors)
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 'trans:breasts'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <var>t:breasts f:cowgirl_position</var>
                        </td>
                        <td>
                            Matches media including females in cowgirl position and non-binary actors who have breasts.
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                @click="query = 't:breasts f:cowgirl_position'">
                                Try me
                            </app-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </app-card-section>
    </template>
</feed-view>
</template>

<script>
import _ from 'lodash';
import analytics from '@/services/analytics';

import FeedView from '@/components/FeedView';
import SearchInput from '@/components/SearchInput';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
        SearchInput,
    },
    data() {
        return {
            query: '',
            scope: null,
        };
    },
    watch: {
        query() {
            if (this.query != this.scope.session.params.query) {
                console.log('query changed');
                this.debounceQuery(this.query, this.scope);
            }
        },
    },
    created() {
        this.init();
    },
    methods: {
        search() {
            this.scope.setSessionParams('query', this.query);
        },
        init() {
            if (this.query != this.$route.query.q) {
                this.query = this.$route.query.q;
            }
          //  this.search();
        },
        async createSession() {
            return await feedSessions.getSearchAdvancedSession(this.query);
        },
        setScope(scope) {
            this.scope = scope;
        },
        debounceQuery: _.debounce(function (value, scope) {
            analytics.recordSearch(value);
            this.$router.replace({
                ...this.$route,
                query: {
                    ...this.$route.query,
                    q: this.query,
                }
            });
        }, 400),
    },
}
</script>
