<template>
<app-layout>
    <app-layout-section>
        <app-card>
            <app-card-section
                title="What is in my export?">
                <p>
                    Your data export is a ZIP archive that contains
                    all of the data that you have accumulated by using AIFap.
                    This includes:
                </p>
                <ul>
                    <li>
                        Your raw data, useful for migrating to another service:
                        <ul>
                            <li>All of your ratings</li>
                            <li>Information about the posts you've rated</li>
                            <li>The lists you've created</li>
                            <li>Your Watch Later queue</li>
                            <li>Your imported posts</li>
                        </ul>
                    </li>
                    <li>
                        Technical documentation explaining how the export is structured
                        - useful to other developers, or the technically inclined.
                    </li>
                </ul>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section>
        <app-banner
            warning
            title="Warning: Your data export may contain sensitive information.">
            <p>
                Your export contains all of your account preferences and the posts you've rated.
            </p>
            <p>
                Do not share individual files out of your export with users you don't trust.
                Even if you don't share a particular file, your export contains your user ID, which
                can be used to cross-reference your account in the public dataset.
            </p>
            <p>
                We have never collected email addresses or real names, so your data
                export doesn't contain anything linking to your real identity.
            </p>
        </app-banner>
    </app-layout-section>
    <app-layout-section>
        <app-card
            title="Exports">
            <app-card-section v-if="!exports || exports.length < 1">
                You don't have any exports yet.
            </app-card-section>
            <app-card-section 
                v-for="exportItem in exports"
                :key="exportItem.id"
                :title="'Export generated ' + exportItem.created_at">
                <strong>Status:</strong> {{ exportItem.finished ? 'Done' : 'Pending' }}
                <app-button
                    v-if="exportItem.finished"
                    @click="downloadExport(exportItem)">
                    Download export
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section v-if="!exports || exports.length < 1">
        <app-card
            title="Request a new export">
            <app-card-section>
                <app-button
                    @click="startExport">
                    Start export
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
</app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

export default {
    async mounted() {
        var res = await api.get('/account/exports');
        this.exports = res.data.exports;
    },
    components: {
    },
    data() {
        return {
            exports: null,
            isUploading: false,
            uploadProgress: 0,
        };
    },
    computed: {
    },
    methods: {
        async startExport() {
            var res = await api.post('/account/exports');
            alert.showAlert('Export added to queue.');
        },
        async downloadExport(exportItem) {
            var res = await api.get('/account/exports/' + exportItem.id + '/download');
            var url = res.data.url;
            
            window.location.href = url;
        },
    },
};
</script>