<template>
<span class="AIF-Icon AIF-Icon--transexual">
    <i class="fal fa-fw fa-transgender-alt"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--transexual {
    .fa-transgender-alt {
        &::before {
            background:-moz-linear-gradient(to top right, #aa00aa, #00aaaa); 
            background: -webkit-linear-gradient(to top right, #aa00aa, #00aaaa); 
            background: linear-gradient(to top right, #aa00aa, #00aaaa);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
           -webkit-text-fill-color:transparent;
           
        }
    }
}
</style>