<template>
<span class="AIF-Icon AIF-Icon--mediaImage">
    <i class="fal fa-fw fa-image"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--mediaImage {
    .fa-image {
    }
}
</style>