<template>
<button 
    v-if="!link"
    :class="{
        'AIF-AppButton': 1,
        'AIF-AppButton--primary': primary,
        'AIF-AppButton--outline': outline,
        'AIF-AppButton--subdued': subdued,
        'AIF-AppButton--plain': plain,
        'AIF-AppButton--small': small,
    }"
    type="button"
    @click="onClick">
    <div class="AIF-AppButton__Content">
        <slot></slot>
    </div>
</button>
<a
    v-else
    :class="{
        'AIF-AppButton': 1,
        'AIF-AppButton--primary': primary,
        'AIF-AppButton--outline': outline,
        'AIF-AppButton--subdued': subdued,
        'AIF-AppButton--plain': plain,
        'AIF-AppButton--small': small,
    }"
    :href="url"
    :target="target">
    <div class="AIF-AppButton__Content">
        <slot></slot>
    </div>
</a>
</template>

<script>
export default {
    props: {
        primary: Boolean,
        outline: Boolean,
        subdued: Boolean,
        link: Boolean,
        plain: Boolean,
        small: Boolean,
        url: String,
        target: String,
    },
    methods: {
        onClick() {
            this.$emit('click');
        },
    },
};
</script>

<style lang="scss">
.AIF-AppButton {
    background: rgba(255,255,255,0.1);
    padding: 1rem;
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    
    color: white;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0.5rem;
    
    text-decoration: none;
    
    transition: background 0.7s, text-shadow 0.7s;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
    
    &:hover {
        background-color: rgba(255,255,255,0.2);
    }
    
    &--plain {
        background: none;
        border: none;
        padding: 0;
        color: #666;
        
        &:hover {
            background: none;
        }
    }
    
    &--outline {
        background: transparent;
        color: inherit;
        
        &:hover {
            background: transparent;
        }
    }
    
    &--primary {
        background: linear-gradient(45deg, var(--brand-color-dark), var(--brand-alt-color-dark), var(--brand-color-dark), var(--brand-alt-color-dark));
        background-position: 0% 0%;
        background-size: 400%;
        border: 1px solid transparent;
        background-clip: padding-box;
        border-radius: 0.5rem;
        color: white;
        
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
        
        &:hover {
            background-image: linear-gradient(45deg, var(--brand-color-mid), var(--brand-alt-color-mid), var(--brand-color-mid), var(--brand-alt-color-mid));
            background-position: 50% 0;
            
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
        }
    }
    
    &--subdued {
        background: #333;
        color: #bbb;
        border-color: #666;
        
        &:hover {
            background: #444;
        }
    }
    
    &--small {
        padding: 0.1rem 0.5rem;
    }
}
</style>