<template>
<p-check
    :checked="value"
    @change="v => $emit('change', v)"
    class="p-smooth p-icon"
    :class="{
        'AIF-AppCheckbox': 1,
        'AIF-AppCheckbox--inline': inline,
        'p-smooth': 1,
        'p-icon': 1,
        'p-curve': 1,
    }">
    <i class="icon fal fa-check" slot="extra"></i>
    {{ label }}
    <template v-if="description">
        <app-text subdued class="AIF-AppCheckbox__Description">
            &mdash;
            {{ description }}
        </app-text>
    </template>
</p-check>
</template>

<script>
import PrettyCheckboxVue from 'pretty-checkbox-vue';

export default {
    model: {
        prop: 'value',
        'event': 'change',
    },
    components: {
        PrettyCheckboxVue,
    },
    props: {
        label: String,
        value: Boolean,
        inline: Boolean,
        description: String,
    },
    methods: {
    },
};
</script>

<style lang="scss">
.AIF-AppCheckbox {
    display: block;
    
    &--inline {
        display: inline-block;
    }
}
</style>

