<template>
<div :class="{
        'AIF-AppCardSection': 1,
        'AIF-AppCardSection--collapsable': collapsable,
        'AIF-AppCardSection--collapsed': collapsed,
    }">
    <div 
        v-if="title" 
        class="AIF-AppCardSection__Title"
        @click="toggleCollapsed">
        {{ title }}
        
        <template v-if="collapsable">
            <div 
                v-if="collapsed"
                class="AIF-AppCardSection__CollapseIndicator">
                <i class="fal fa-chevron-up"></i>
                Click to expand
            </div>
            <div 
                v-else
                class="AIF-AppCardSection__CollapseIndicator">
                <i class="fal fa-chevron-down"></i>
                Click to collapse
            </div>
        </template>
    </div>
    <div v-if="!collapsed" class="AIF-AppCardSection__Content">
        <slot></slot>
    </div>
</div>
</template>

<script>
export default {
    props: {
        title: String,
        collapsable: Boolean,
        defaultCollapsed: Boolean,
    },
    data() {
        return {
            collapsed: false,
        };
    },
    mounted() {
        this.collapsed = this.defaultCollapsed;
    },
    methods: {
        toggleCollapsed() {
            if (this.collapsable) {
                this.collapsed = !this.collapsed;
            }
        },
    },
};
</script>

<style lang="scss">
.AIF-AppCardSection {
    padding: 1rem;
    
    + .AIF-AppCardSection {
        border-top: 1px solid rgba(255,255,255,0.04);
    }
    
    &__Title {
        display: inline-block;
        
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 1rem;
        
        position: relative;
        
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            bottom: -2px;
            left: -1px;
            right: -1px;
            
            background: linear-gradient(to right, var(--brand-color), var(--brand-alt-color));
        }
    }
    
    &__CollapseIndicator {
        position: absolute;
        display: inline-block;
        margin-left: 2rem;
        top: 0;
        left: 100%;
        white-space: nowrap;
        
        color: #999;
    }
    
    &__Content {
        transition: opacity .25s;
    }
    
    
    &--collapsable {
        .AIF-AppCardSection__Title {
            cursor: pointer;
        }
    }
    
    
    &--collapsed {
        .AIF-AppCardSection__Title {
            margin-bottom: 0;
            filter: grayscale(1);
        }
        .AIF-AppCardSection__Content {
            height: 0;
            opacity: 0;
        }
    }
}
</style>