<template>
<div 
    v-if="open" 
    class="AIF-AppOverlay">
    <div class="AIF-AppOverlay__Box">
        <div 
            @click="onClose"
            class="AIF-AppOverlay__Close">
            <i class="fal fa-fw fa-times"></i>
        </div>
        <div class="AIF-AppOverlay__Content">
            <slot></slot>
        </div>
    </div>
</div>
</template>


<script>
export default {
    props: {
        open: Boolean,
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
    },
};
</script>

<style lang="scss">
.AIF-AppOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.8);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__Box {
        max-width: 80%;
        max-height: 80%;
        width: 100%;
        height: 100%;
        background: #333;
        border-radius: 1rem;
        position: relative;
        padding: 2rem;
    }
    
    &__Close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
    }
    &__Content {
    }
}
</style>