<template>
<app-page-container
    :centered="fixedWidth"
    :class="{
        'AIF-AppPage': 1,
        'AIF-AppPage--fixedWidth': fixedWidth,
    }"
    :style="{padding: noPadding ? '0px' : null}">
    <div
        v-if="title"
        class="AIF-AppPage__Header">
        <div class="AIF-AppPage__Title">
            {{ title }}
        </div>
        <div 
            v-if="description"
            class="AIF-AppPage__Description">
            {{ description }}
        </div>
    </div>
    <div 
        v-if="experimental"
        class="AIF-AppPage__Experimental">
        <i class="fal fa-fw fa-exclamation-triangle"></i>
        This page is experimental - it's features may be incomplete, broken, or incorrect.
        <i class="fal fa-fw fa-exclamation-triangle"></i>
    </div>
    <div 
        v-if="hasTabs"
        class="AIF-AppPage__Tabs">
        <slot name="tabs"></slot>
    </div>
    <slot></slot>
</app-page-container>
</template>

<script>
export default {
    props: {
        fixedWidth: Boolean,
        hasTabs: Boolean,
        title: String,
        description: String,
        noPadding: Boolean,
        experimental: Boolean,
    },
};
</script>


<style lang="scss">
.AIF-AppPage {
    &__Tabs {
        padding: 1rem;
    }
    
    &__Header {
        padding: 1rem;
        margin-top: 2rem;
    }
    
    &__Title {
        font-size: 2rem;
        font-weight: 600;
    }
    &__Description {
        margin-top: 1rem;
        color: #ccc;
    }
    
    &__Experimental {
        background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #2d1d03 10px, #2d1d03 20px ), linear-gradient(to bottom, #774c09, #523509, #523509, #774c09);
        padding: 1rem;
        margin: 1rem;
        text-align: center;
        font-weight: 900;
        text-shadow: 0px 0px 3px rgba(0,0,0,0.9);
        color: #ff9a00;
        box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.9)
    }
    
    
}
</style>


