<template>
<a class="AIF-AppPlainLink"
    @click.native="$emit('click')">
    <slot></slot>
</a>
</template>


<style lang="scss">
.AIF-AppPlainLink {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}
</style>