<template>
<div 
    :class="{
        'AIF-AppPopup': 1,
        'AIF-AppPopup--open': open,
        'AIF-AppPopup--removedFromFlow': removedFromFlow,
    }">
    <div 
        v-if="backdrop" 
        @click="onBackdropClicked"
        class="AIF-AppPopup__Backdrop">
    </div>
    <app-card 
        class="AIF-AppPopup__Box"
        :title="title">
        <div class="AIF-AppPopup__Close"
            @click="onCloseClicked">
            <i class="fal fa-fw fa-times fa-close"></i>
        </div>
        <div class="AIF-AppPopup__Content">
            <slot></slot>
        </div>
    </app-card>
</div>
</template>


<script>
export default {
    props: {
        title: String,
        backdrop: {
            type: Boolean,
            default: true,
        },
        open: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            removedFromFlow: true,
        };
    },
    mounted() {
        this.removedFromFlow = !this.open;
    },
    watch: {
        open() {
            if (this.open) {
                this.removedFromFlow = false;
            } else {
                setTimeout(() => {
                    if (!this.open) {
                        this.removedFromFlow = true;
                    }
                }, 300);
            }
        },
    },
    methods: {
        onBackdropClicked() {
            this.$emit('close');
        },
        onCloseClicked() {
            this.$emit('close');
        },
    },
};
</script>

<style lang="scss">
.AIF-AppPopup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 999;
    
    pointer-events: none;
    opacity: 0;
    
    transition: opacity 0.25s;
    
    &--open {
        pointer-events: all;
        opacity: 1;
    }
    
    &--removedFromFlow {
        height: 0;
        width: 0;
        overflow: hidden;
        top: -99999px;
        bottom: 999999px;
    }
    
    &__Backdrop {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        
        background: rgba(0,0,0,0.8);
    }
    
    &__Box {
        margin: auto;
        position: relative;
        
        max-height: 90%;
        max-width: 60rem;
        
        width: 90%;
        
        display: flex;
        flex-direction: column;
        
        .AIF-AppCard__Content {
            overflow-y: auto;
            flex-grow: 0;
            flex-shrink: 1;
        }
    }
    
    &__Close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        cursor: pointer;
    }
    
    &__Title {
    }
    
    &__Content {
    }
}
</style>