<template>
<div>
    <app-layout>
        <app-layout-section>
            <app-card
                title="Tag Suggestions">
                <app-card-section>
                    <p>
                        Here you can vote on suggestions to add new tags and tag aliases
                        to AIFap. If you'd like to make a new suggestion, perform a search
                        and you'll be able to create one if it doesn't exist.
                    </p>
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <app-tabs
                :value="selectedTab"
                @change="changeTab"
                :items="[
                    makeLink('Top suggestions', 'chart-bar', 'ContentSuggestTagsTop'),
                    makeLink('Your suggestions', 'user', 'ContentSuggestTagsMine'),
                    makeLink('Search or create new suggestion', 'search', 'ContentSuggestTagsSearch'),
                    makeLink('Recent changes', 'certificate', 'ContentSuggestTagsRecent'),
                    makeLink('About suggestions', 'info-circle', 'ContentSuggestTagsInfo'),
                ]"
                null-content="Results"/>
        </app-layout-section>
    </app-layout>
   <router-view></router-view> 
</div>
</template>

<script>
import api from '@/http/api';

import TagBadge from '@/components/TagBadge';
import TagSuggestionList from '@/components/TagSuggestionList';

export default {
    components: {
        TagBadge,
        TagSuggestionList,
    },
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    methods: {
        makeLink(name, icon, route, align) {
            return {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
            };
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
}
</script>

<style lang="scss">
.AIF-AboutTags {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>