<template>
    <app-layout>
        <app-layout-section>
            <app-card title="About tag suggestions">
                <app-card-section title="What is this?">
                    <p>
                        AIFap uses tags to help categorize content, which provides
                        extra information to users and also helps improve recommendations.
                    </p>
                    <p>
                        While we don't intend to have an exhaustive database of
                        tags for every possible circumstance, we would like to include
                        a wide range of tags that cover most aspects of pornography
                        and sexuality.
                    </p>
                    <p>
                        Tag suggestions are a way for our users to help us expand
                        the tag database by requesting and voting on tags that 
                        they'd like to see.
                    </p>
                </app-card-section>
                <app-card-section title="Can I make a new suggestion?">
                <!--
                    <p>
                        Making a suggestion requires a certain level of Trust.
                        The exact amount depends on whether you're suggesting a tag or
                        an alias, and the namespace of the tag/alias you're suggesting.
                        See the 
                        <router-link
                            :to="{name: 'AboutTrust'}">
                            About Trust
                        </router-link>
                        page for more details.
                    </p>
                    -->
                    <p>
                        To make a suggestion, first make a new search to ensure
                        no-one has suggested it previously. After reviewing the search
                        results, you'll be prompted to make a new suggestion if you 
                        can't find any that match what you're looking for.
                    </p>
                    <p>
                        When suggesting a new tag or alias, always keep in mind the following goals:
                    </p>
                    <ul>
                        <li>
                            Tags should be unambigous.
                            <br>
                            <app-text negative>
                                Bad: 'mario'
                            </app-text>
                            &mdash;
                            <app-text positive>
                                Good: 'character:mario', 'series:mario'
                            </app-text>
                        </li>
                        <li>
                            Tags should be descriptive without being verbose.
                            <br>
                            <app-text negative>
                                Bad: 'cut', 'circumcised_penis'
                            </app-text>
                            &mdash;
                            <app-text positive>
                                Good: 'circumcised'
                            </app-text>
                        </li>
                        <li>
                            Tags should try to take into account the full 
                            gamut of sexuality and interests, and avoid making
                            assumptions about the reader.
                            <br>
                            <app-text negative>
                                Bad: 'ass'
                            </app-text>
                            &mdash;
                            <app-text positive>
                                Good: 'f:ass', 'm:ass', 't:ass'
                            </app-text>
                        </li>
                        <li>
                            Most tags should belong to an appropriate namespace.
                            <br>
                            <app-text negative>
                                Bad: 'dillion_harper', 'mario'
                            </app-text>
                            &mdash;
                            <app-text positive>
                                Good: 'actor:dillion_harper', 'series:mario'
                            </app-text>
                        </li>
                    </ul>
                    <p>
                        Please note that repeatedly submitting low-effort suggestions
                        may result in your account being penalized.
                    </p>
                </app-card-section>
                <app-card-section title="Can I suggest a tag to be changed?">
                    <p>
                        If you'd like to suggest <em>changes to an existing tag/alias</em>,
                        please discuss it in #tagging on Discord.
                    </p>
                </app-card-section>
                <app-card-section title="When are suggestions approved?">
                    <p>
                        We review suggestions semi-regularly - typically once or
                        twice per week. We review suggestions according to the number of upvotes
                        they receive.
                    </p>
                </app-card-section>
                <app-card-section title="Why would a suggestion be rejected?">
                    <p>
                        There's a few reasons we might reject a suggestion, including:
                        tag is too ambiguous; description is not detailed enough;
                        too general/specific; related to an illegal or banned subject;
                        and others.
                        Generally we'll provide a short description explaining
                        why we rejected the suggestion. If you need more information,
                        contact us on Discord.
                    </p>
                    <p>
                        Note that suggestions are also rejected when a conflicting
                        suggestion is accepted. For example, if Alice and Bob
                        both suggest a new tag with different descriptions and we 
                        accept Alice's suggestion, then Bob's suggestion will be 
                        rejected.
                    </p>
                </app-card-section>
            </app-card>
        </app-layout-section>
    </app-layout>
</template>

<script>
import api from '@/http/api';

import TagBadge from '@/components/TagBadge';
import TagSuggestionList from '@/components/TagSuggestionList';

export default {
    components: {
        TagBadge,
        TagSuggestionList,
    },
    data() {
        return {
            tags: null,
        };
    },
}
</script>

<style lang="scss">
.AIF-AboutTags {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>