<template>
    <app-layout>
        <app-layout-section>
            <app-card title="Search or create suggestion">
                <app-card-section>
                    <app-text-field
                        :value="search"
                        @input="v => search = v"
                        placeholder="Search..."/>
                </app-card-section>
                <app-card-section 
                    v-if="tags && tags.length > 0"
                    title="Existing tags">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:0%">Tag</th>
                                <th style="width:80%">Description</th>
                                <th style="width:0%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="tag, i in tags">
                                <tr>
                                    <td>
                                        <tag-badge
                                            :tag="tag"/>
                                    </td>
                                    <td>
                                        {{ tag.description }}
                                    </td>
                                    <td>
                                        <app-button
                                            subdued
                                            small
                                            link
                                            :href="$router.resolve({name: 'FeedSearchAdvanced', query: {q: (tag.tag_namespace ? tag.tag_namespace.key + ':' : '') + tag.key}}).href">
                                            <i class="fal fa-fw fa-search"></i>
                                            Search
                                        </app-button>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </app-card-section>
                <app-card-section
                    title="Existing suggestions">
                    <tag-suggestion-list
                        :suggestions="suggestions"
                        @vote="onVote"/>
                </app-card-section>
                <app-card-section v-if="search">
                    <app-button
                        @click="onCreate"
                        primary>
                        Suggest '{{ search }}'
                    </app-button>
                </app-card-section>
            </app-card>
        </app-layout-section>
    </app-layout>
</template>

<script>
import _ from 'lodash';
import api from '@/http/api';

import TagBadge from '@/components/TagBadge';
import TagSuggestionList from '@/components/TagSuggestionList';

export default {
    components: {
        TagBadge,
        TagSuggestionList,
    },
    data() {
        return {
            suggestions: null,
            search: null,
        };
    },
    watch: {
        search() {
            this.load();
        },
    },
    mounted() {
        if (this.$route.query.q) {
            this.search = this.$route.query.q;
        } else {
            this.load();
        }
    },
    methods: {
        load: _.debounce(async function() {
            var res = await api.get('/posts/search', {
                params: {
                    query: this.search,
                },
            });
            this.tags = res.data.results.tags.slice(0, 6);
            
            var res = await api.get('/info/tags/suggestions/search', {
                params: {
                    query: this.search,
                },
            });
            this.suggestions = res.data.tag_suggestions;
        }, 400),
        async onVote({ suggestion, type }) {
            var res = await api.post('/info/tags/suggestions/' + suggestion.id + '/vote', {
                type,
            });
            
            var newSuggestion = res.data.tag_suggestion;
            Object.assign(suggestion, newSuggestion);
        },
        onCreate() {
            this.$router.push({
                name: 'AboutSuggestTagsNew',
                query: {
                    tag: this.search,
                },
            });
        },
    },
}
</script>

<style lang="scss">
.AIF-AboutTags {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>