<template>
<app-layout>
    <app-layout-section>
        <user-ratings-summary/>
    </app-layout-section>
</app-layout>
</template>

<script>
import UserRatingsSummary from '@/components/UserRatingsSummary';

export default {
    components: {
        UserRatingsSummary,
    },
};
</script>