<template>
<app-page 
    fixed-width
    has-tabs
    title="Legal"
    description="Imporant notices and documents.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
             //   makeLink('Terms', 'cabinet-filing', 'LegalTerms'),
                makeLink('Privacy', 'cabinet-filing', 'LegalPrivacy'),
                makeLink('DMCA', 'cabinet-filing', 'LegalDmca'),
            ]"
            null-content="Results"/>
    </template>
    <router-view></router-view> 
</app-page>
</template>

<script>
export default {
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    methods: {
        makeLink(name, icon, route, align, partialMatch) {
            return {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
                partialMatch: partialMatch || false,
            };
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
};
</script>