<template>
<feed-view
    title="Recommendation Lab"
    :create-session="createSession"
    :refresh-on-init="false"
    :allow-manual-refresh="true"
    refresh-label="Generate more recommendations"
    feed-icon="flask"
    score-icon="heart">
    <template slot="description">
        <p>
            This feed contains our experimental recommendation strategies.
            Give them a try and let us know what you think
        </p>
    </template>
    <template
        slot="sessionControls"
        slot-scope="scope">
        <app-card-section
            title="Advanced options"
            v-if="scope.session && scope.session.params"
            collapsable
            :default-collapsed="false">
            <div>
                Included recommendation strategies:
            </div>
            <app-form-layout>
                <app-checkbox
                    label="CollabUserV3"
                    description="A hybrid content-collaborative algorithm."
                    :value="stratEnabled(scope, 'CollabUserV3')"
                    @change="v => setStratEnabled(scope, 'CollabUserV3', v)"/>
                <app-checkbox
                    label="ContentNewV1"
                    description="A simplistic content-based algorithm."
                    :value="stratEnabled(scope, 'ContentNewV1')"
                    @change="v => setStratEnabled(scope, 'ContentNewV1', v)"/>
            </app-form-layout>
        </app-card-section>
    </template>
    <template
        slot="abovePosts">
        <app-layout-section>
            <app-banner
                info
                title="Intermittent issues on our recommendation server">
                <p>
                    Your recommendations may take longer than usual generate.
                    If your recommendations fail to refresh, please try refreshing your 
                    <em>browser</em>. If new posts don't appear after refreshing 
                    your browser, then the reccommendation server has encountered 
                    a problem and temporarily gone 
                    offline - it usually becomes available again within about 10 minutes.
                </p>
                <p>
                    Some of the server issues are proving difficult to pin down, 
                    but we're still working on it and hoping to find a solution soon.
                </p>
                <p>
                    Thank you for patience. 
                    <br>
                    &mdash; AIFap Developers
                </p>
                
            </app-banner>
        </app-layout-section>
    </template>
</feed-view>
</template>

<script>
import VueSlideBar from 'vue-slide-bar';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        VueSlideBar,
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getRecommendationLabSession();
        },
        stratEnabled(scope, stratName) {
            var strats = scope.session.params.included_strats || [];
            return strats.indexOf(stratName) > -1;
        },
        setStratEnabled(scope, stratName, enable) {
            var strats = scope.session.params.included_strats || [];
            var index = strats.indexOf(stratName);
            if (enable && index == -1) {
                var newStrats = strats.slice();
                newStrats.push(stratName);
                scope.setSessionParams('included_strats', newStrats);
            } else if (!enable && index > -1) {
                var newStrats = strats.slice();
                newStrats.splice(index, 1);
                scope.setSessionParams('included_strats', newStrats);
            }
        },
    },
}
</script>
