<template>
<app-page
    experimental
    has-tabs
    title="Labs"
    description="This is where you can test early experimental features that
    we're working on and give us your feedback.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
                makeLink('Recommended', 'vial', 'FeedLabRecommendations'),
                makeLink('Mixer', 'compact-disc', 'LabsMixer'),
            ]"
            null-content="Results"/>
    </template>
   <router-view></router-view> 
</app-page>
</template>

<script>
import session from '@/http/session';

import SupportUsBanner from '@/components/SupportUsBanner';

export default {
    components: {
        SupportUsBanner,
    },
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    data() {
        return {
            settings: null,
        };
    },
    async mounted() {
        this.settings = await session.getSettings();
    },
    methods: {
        makeLink(name, icon, route, align) {
            return {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
            };
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
};
</script>