<template>
<feed-view
    title="Liked & Loved"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    :show-sort-filter="true"
    :sort-orders="[
        {label: 'Newest', value: 'default'},
        {label: 'Shuffle', value: 'shuffle'},
    ]"
    feed-icon="thumbs-up">
    <template slot="description">
        This feed contains all of the posts that you have liked or loved.
    </template>
    <template 
        slot="abovePosts"
        slot-scope="scope"
        v-if="hidingImported(scope.session.filters)">
        <app-layout-section>
            <app-banner
                title="Hiding imported posts"
                info>
                Your filters exclude the 'Unknown' gender-type (<icon-gender-unknown/>) 
                or 'Real-life' artstyle-type (<icon-artstyle-reallife style="color:#00cccc"/>),
                which may hide any imported posts.
            </app-banner>
        </app-layout-section>
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getRatingSession(['like', 'love']);
        },
        hidingImported(filters) {
            if (!filters) {
                return false;
            }
            return filters.gender_type.indexOf('unknown') == -1
                || filters.artstyle_type.indexOf('real-life') == -1;
        },
    },
}
</script>
