<template>
<feed-view
    title="Viewed"
    :create-session="createSession"
    :refresh-on-init="false"
    :allow-manual-refresh="true"
    feed-icon="eye">
    <template slot="description">
        This feed contains all the posts you've viewed.
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getViewedSession();
        }
    },
}
</script>
